@use "../../elements";
@use "../../tools";

.basket {
  margin: 100px 0;

  .container {
    @include tools.container;
  }

  h2 {
    @include elements.h2;
  }

  ul {
    li {
      margin: 40px 0;
    }
  }

  .total {
    margin-top: 100px;
    font-weight: bold;
  }
}
