.m-5050textimage {
    padding: 50px 0;
    @include clearfix();
    position: relative;

    &.background-grey {
        background: $c-softgrey;
    }

    &.reverse {
        @media (min-width: $screen-sm) {
            .e-image {
                float: left;
                padding-right: 35px;
                padding-left: 0;
            }

            .e-text {
                float: right;
                padding-right: 0;
                padding-left: 35px;
            }
        }
    }

    .e-image, .e-text {
        @include grid(12, 6, 6, 6, 6, $padding: false);
    }

    .e-image {
        display: none;
    }

    .e-text {
        margin-top: 30px;

        h2 {
            margin-top: 0;
        }
    }

    @media (min-width: $screen-sm) {
        padding: 80px 0;

        .e-text {
            margin-top: 0;
            padding-right: 35px;
        }

        .e-image {
            display: block;
            float: right;
            padding-left: 35px;
        }
    }

    @media (min-width: $screen-md) {
        padding: 100px 0;
    }

    @media (min-width: $screen-lg) {
        .container {
            max-width: 1200px;
        }
    }

    @media (min-width: $screen-xl) {
        padding: 120px 0;
    }

    &.m-5050textimage--inset {
        @include contentBlockInset--white;
    }

    &.m-5050textimage--cyan {
        background-color: $c-lightcyan;

        h2, h3, h4 {
            color: white;

            &.title-underline {
                &:after {
                    background: white;
                }
            }
        }

        p, ul li, ol li, table {
            color: white;
        }

        .btn {

            &:link, &:visited {
                color: white;
            }

            .icon {
                fill: white;
            }

            &:hover, &:active {
                background-color: white;
                color: $c-lightcyan;

                .icon {
                    fill: $c-lightcyan;
                }
            }
        }

        &.m-5050textimage--inset {
            @include contentBlockInset--cyan;
        }
    }

    &.m-5050textimage--navy {
        background-color: $c-navy;

        h2, h3, h4 {
            color: white;
        }

        p, ul li, ol li, table {
            color: white;
        }

        .btn {

            &:link, &:active, &:visited, &:hover {
                color: white;
            }
        }

        &.m-5050textimage--inset {
            @include contentBlockInset--navy;
        }
    }

    &.m-5050textimage--light-grey {
        background-color: $c-baige;

        &.m-5050textimage--inset {
            @include contentBlockInset--light-grey;
        }
    }

    &.m-5050textimage--grey {
        background: $c-brown;

        h2, h3, h4 {
            color: $c-white;
            /*&.title-underline {
                &:after {
                    background: white;
                }
            }*/
        }

        p, ul li, ol li, table {
            //color: $c-darkgreytext;
            color: #A7ADAA;
        }

        .btn {

            &:link, &:active, &:visited, &:hover {
                color: white;
            }
        }

        &.m-5050textimage--inset {
            @include contentBlockInset--grey;
        }
    }

    &.m-5050textimage--flipped {

        @media (min-width: $screen-sm) {

            .e-image {
                float: none;
                padding-left: 0px;
                padding-right: 35px;
                display: inline-block;
            }

            .e-text {
                float: right;
                padding-right: 0px;
                padding-left: 15px;
            }
        }

        @media (min-width: $screen-lg) {

            .e-text {
                padding-left: 0px;
            }
        }
    }
}
