.m-5050text {
    padding: 50px 0;

    h2 {
        &:first-of-type {
            margin-top: 0;
        }
    }

    .e-right {
        .e-inner {
            .btn {
                margin-top: 30px;
                margin-bottom: 10px;

                &.active {
                    .icon {
                        @include transform(rotate(180deg));
                    }
                }
            }

            .e-more {
                //display: none;  // <!-- removed as people are not aware that it is being removed on mobile
            }
        }
    }

    &.m-5050text--inset {
        @include contentBlockInset--white;
    }

    &.m-5050text--cyan {
        background-color: $c-lightcyan;

        h2, h3, h4 {
            color: white;

            &.title-underline {
                &:after {
                    background: white;
                }
            }
        }

        p, ul li, ol li, table {
            color: white;
        }

        &.m-5050text--inset {
            @include contentBlockInset--cyan;
        }
    }

    &.m-5050text--navy {
        background-color: $c-navy;

        h2, h3, h4 {
            color: white;
        }

        p, ul li, ol li, table {
            color: white;
        }

        &.m-5050text--inset {
            @include contentBlockInset--navy;
        }
    }

    &.m-5050text--light-grey {
        background-color: $c-baige;

        &.m-5050text--inset {
            @include contentBlockInset--light-grey;
        }
    }

    &.m-5050text--grey {
        background: $c-brown;

        h2, h3, h4 {
            color: $c-white;
            /*&.title-underline {
                &:after {
                    background: white;
                }
            }*/
        }

        p, ul li, ol li, table {
            color: $c-darkgreytext;
        }

        &.m-5050text--inset {
            @include contentBlockInset--grey;
        }
    }

    @media (min-width: $screen-sm) {
        padding: 80px 0;
        line-height: 0;
        font-size: 0;

        .e-left,
        .e-right {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }

        .e-left {
            .e-inner {
                padding-right: 35px;
            }
        }

        .e-right {
            .e-inner {
                padding-left: 35px;

                .btn {
                    //display: none;
                }

                .e-more {
                    display: block !important;
                }
            }
        }
    }

    @media (min-width: $screen-md) {
        padding: 100px 0;
    }

    @media (min-width: $screen-lg) {
        .container {
            max-width: 1200px;
        }

        .e-left .e-right {
            .e-inner {
                p {
                    @include font-size(1.8, 2.6);
                }
            }
        }

        .e-left {
            .e-inner {
                padding-right: 50px;
            }
        }

        .e-right {
            .e-inner {
                padding-left: 50px;
            }
        }
    }

    @media (min-width: $screen-xl) {
        padding: 120px 0;
    }
}
