.m-fullwidthcontact {
    background: $c-baige;

    &.no-image {
        .e-image {
            display: none;
        }

        @media (min-width: $screen-sm) {
            .e-text {
                width: 100%;

                .e-inner {
                    margin: 0;
                }
            }
        }

        @media (min-width: $screen-md) {
            .e-text {
                h2, p {
                    max-width: 750px;
                }
            }
        }
    }

    &.background-black {
        background: $c-brown;
    }

    &.background-blue {
        background: $c-lightcyan;
    }

    &.background-blue, &.background-black {
        h2, p {
            color: $c-white;
        }
    }

    .e-image {
        display: none;
    }

    .e-text {
        display: inline-block;
        padding: 40px 0;

        h2, h3 {
            margin-top: 0;
        }

        .btn {
            margin-top: 15px;
        }
    }

    @media (min-width: $screen-sm) {

        font-size: 0;
        line-height: 0;
        padding: 0;
        overflow: hidden;
        position:relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 50%;
            left: -8px;
            height: 100%;
            top: 0;
        }

        &:before {
            background-image: url('/images/partials/5050cta/background.png');
            background-size: cover;
            top: 0; width: 100%;
            z-index: 2;
        }

        .container {
            z-index:3;
            font-size: 0;
            padding: 40px 0;
        }

        .e-image {
            display: inline-block;
            width: 30%;
            vertical-align: top;

            .e-inner {
                margin-right: 35px;
            }
        }

        .e-text {
            padding: 0;
            width: 70%;
            vertical-align: top;


            .e-inner {
                margin-left: 35px;
            }
        }
    }

    @media (min-width: $screen-md) {
        .e-image {
            width: 20%;
        }

        .e-text {
            width: 80%;

            h2, p {
                max-width: 580px;
            }

            h2 {
                @include font-size(3.1, 3.9);
            }
        }
    }

    @media (min-width: $screen-lg) {
        .container {
            max-width: 1200px;
            position: relative;
        }

        .e-text {
        }
    }
}
