.m-locationsmap {
    padding: 50px 0;
    @include cutoff();

    .gm-style .gm-style-iw-t:after {
        display: none;
    }

    .gm-style .gm-style-iw-c {
        padding: 0;
        border-radius: 0;
        overflow: visible;
    }

    .gm-style-iw-d {
        overflow: hidden !important;
    }

    &.background-brown {
        background: $c-softbrown;
    }

    &.padding-top-none {
        padding-top: 0;
    }

    &.no-text {
        .e-intro {
            display: none !important;
        }
    }

    .e-intro {
        margin-bottom: 30px;

        h2 {
            margin-top: 0;
        }

        .preamble {
            display: none;
        }
    }

    .locationsmap-container {
        position: relative;
        /*height: 50vh;*/
        min-height: 500px;
        /*max-height: 600px;*/
        .e-overlay {
            position: absolute;
            @include centre(y);
            left: 35px;
            z-index: 2;
            background: #f5f4f1;
            display: none;
            width: 340px;
        }

        .e-top {
            background: $c-white;
            padding: 25px 30px;
            position: relative;
            box-shadow: 0 4px 10px 0 $c-linegrey;

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $c-navy;
            }

            ::-moz-placeholder { /* Firefox 19+ */
                color: $c-navy;
            }

            :-ms-input-placeholder { /* IE 10+ */
                color: $c-navy;
            }

            :-moz-placeholder { /* Firefox 18- */
                color: $c-navy;
            }

            input {
                border: none;
                @include font-size(1.8, 2.6);
                color: $c-navy;
                font-family: $f-title;
                margin: 0;
                padding-right: 60px !important;
            }

            button {
                outline: none !important;
                background: none !important;
                border: none !important;
                padding: 0;
                min-width: auto;
                @include centre(y);
                right: 50px;

                &:hover {
                    .icon {
                        fill: $c-navy;
                    }
                }

                .icon {
                    width: 18px;
                    height: 18px;
                }
            }

            .location-filter {
                display: inline-block;
                background-color: #005581;
                color: white;
                padding: 2px 30px 2px 10px;
                margin-left: 20px;
                margin-bottom: 2px;
                font-size: 13px;
                background-image: url(/images/svgs/filtercross.svg);
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: right 10px center;
                cursor: pointer;
                cursor: pointer;
            }
        }
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #dcdbd8;
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dcdbd8;
        }

        .e-results {
            //max-height: 500px;
            max-height: 470px;
            overflow-y: scroll;

            a {
                display: block;
                margin: 0;
                padding: 20px 50px;
                border-bottom: 1px solid $c-linegrey;

                &:hover {
                    background: #dfdeda;
                }

                h3, p {
                    margin: 0;
                }

                h3 {
                    @include font-size(1.8, 2.6);
                    font-weight: 500;
                }

                p {
                    color: $c-lightcyan;
                    font-weight: 600;
                    @include font-size(1.4, 2.2);
                }
            }
        }

        #pac-input {
            width: calc(100% - 40px);
            @include font-size(1.6, 2.4);
        }

        #locationsmap {
            height: 50vh;
            min-height: 500px;
            max-height: 600px;

            .gm-style-mtc, .gm-fullscreen-control, .gmnoprint, .gm-svpc {
                display: none !important;
            }

            .gm-style-iw {
                width: 250px !important;
                top: 0 !important;
                left: 0 !important;
            }

            .gm-style-iw-t > div {
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-top: 11px solid #f5f4f1;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    margin-left: -10px;
                }
            }

            .gm-style-iw-a > .gm-style-iw-t {
                &:last-child {
                    & > div {
                        width: 250px !important;
                        //margin-top: 25px;
                        //margin-left: 25px;
                        img {
                            opacity: 0;
                        }


                        & > div {
                            &:first-child {
                                //display: none;
                            }
                        }
                    }
                }
            }

            .e-infowindow {
                width: 250px;
                @include border-radius(5px);
                position: relative;

                .e-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 15px;
                    height: 15px;
                    padding-right: 15px;
                    padding-top: 15px;
                    z-index: 1;
                    cursor: pointer;

                    span {
                        width: 15px;
                        height: 2px;
                        background: $c-lightcyan;
                        display: block;
                        @include transform(rotate(45deg));
                        position: absolute;
                        left: 0;
                        bottom: 7.5px;

                        &:first-child {
                            @include transform(rotate(-45deg));
                        }
                    }
                }

                .e-top {
                    background: $c-white;
                    box-shadow: 0 4px 10px 0 $c-linegrey;
                    padding: 25px 35px;
                    position: relative;

                    h3 {
                        @include font-size(1.8, 2.6);
                        font-weight: 500;
                        margin-top: 0;
                    }

                    p {
                        @include font-size(1.4, 2.2);
                        margin-top: 5px;
                    }
                }
                /* width */
                ::-webkit-scrollbar {
                    width: 10px;
                }
                /* Track */
                ::-webkit-scrollbar-track {
                    background: transparent;
                }
                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: #dcdbd8;
                }
                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background: #dcdbd8;
                }

                .e-content {
                    background: #f5f4f1;
                    padding: 20px 35px 25px;
                    height: 156px;
                    box-sizing: border-box;
                    overflow-y: scroll;

                    h4 {
                        font-weight: 500;
                        margin-top: 15px;

                        &:first-of-type {
                            margin-top: 0;
                        }
                    }

                    h4, p {
                        @include font-size(1.4, 2.2);
                    }

                    p {
                        margin-top: 5px;

                        &.tel {
                            a {
                                border: none !important;
                                color: $c-text;
                                margin: 0;
                            }
                        }

                        &.email {
                            /*display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;*/
                            a {
                                border-bottom: 1px solid $c-lightcyan;
                                margin: 0;
                                color: $c-lightcyan;

                                &:hover {
                                    border-bottom-color: $c-lightcyan;
                                    color: $c-lightcyan;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screen-sm) {
        padding: 80px 0;

        .e-intro {
            .preamble {
                display: block;
                max-width: 750px;
            }
        }
    }

    @media (min-width: $screen-md) {
        padding: 100px 0;

        .e-intro {
            margin-bottom: 50px;
        }

        .locationsmap-container {
            height: 679px;
            max-height: none;
            min-height: auto;

            .e-overlay {
                display: block;
            }

            #pac-input {
                display: none !important;
            }

            #locationsmap {
                height: 679px;
                max-height: none;
                min-height: auto;

                .gm-style-iw {
                    width: 300px !important;
                }

                .gm-style-iw-a > .gm-style-iw-t {
                    &:last-child {
                        & > div {
                            width: 300px !important;
                        }
                    }
                }

                .e-infowindow {
                    width: 300px;

                    .e-content {
                        height: 375px;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-lg) {
        .e-intro {
            max-width: 1200px;
            margin: 0 auto;
            font-size: 0;
            line-height: 0;
            @include clearfix();
            margin-bottom: 70px;

            h2 {
                max-width: 30%;
                display: inline-block;
                vertical-align: top;
            }

            .preamble {
                max-width: 70%;
                margin-left: 100px;
                display: inline-block;
                margin-top: 0;
                vertical-align: top;
                float: right;
            }
        }
    }

    @media (min-width: $screen-xl) {
        padding: 120px 0;

        .locationsmap-container {
            height: 745px;

            .e-overlay {
                left: 60px;
                width: 450px;
            }

            #locationsmap {
                height: 745px;
            }
        }
    }
}
