.m-marketsgrid {
    padding: 50px 0;

    .e-item {
        display: block;
        margin: 0 0 15px;
        padding: 0 0 15px;
        border-bottom: 1px solid $c-linegrey;

        &:last-child {
            border-bottom: none;
        }

        img {
            display: none;
        }

        .e-inner {
            position: relative;

            h3 {
                display: inline-block;
                @include font-size(1.6, 2.4);
                font-weight: 500;
                margin-top: 0;
                padding-right: 20px;
            }

            .icon {
                position: absolute;
                top: 50%;
                margin-top: -5px;
                right: 0;
                fill: $c-lightcyan;
                @include transition(all 0.3s ease-in-out);
            }

            p {
                display: none;
            }
        }
    }

    @media (min-width: $screen-sm) {
        .item-container {
            display: flex;
            flex-wrap: wrap;
            font-size: 0;
            line-height: 0;
            margin: 0 -25px;
        }

        .e-item {
            flex: 0 0 42%;
            flex: 0 0 calc(50% - 50px);
            border: none;
            margin: 0 25px 50px;
            padding: 0;
            box-shadow: 0 4px 10px 0px $c-linegrey;
            position: relative;

            img {
                display: block;
                width: 100%;
            }

            .e-inner {
                padding: 20px 25px 80px;
                position: static;

                h3 {
                    @include font-size(2.1, 2.9);
                }

                p {
                    display: block;
                    margin-top: 10px;
                    @include font-size(1.4, 2.2);
                }

                .icon {
                    position: absolute;
                    bottom: 25px;
                    left: 25px;
                    top: auto;
                    margin: 15px 0 0;
                    border: 1px solid #ebebeb;
                    width: 17px;
                    height: 12px;
                    padding: 13px 10.5px;
                }
            }
        }
    }

    @media (min-width: $screen-md) {
        padding: 100px 0;

        .e-item {
            overflow: hidden;

            &:hover {
                img {
                    @include transform(scale(1.05));
                }

                .icon {
                    background: $c-navy;
                    fill: $c-white;
                }
            }

            img {
                @include transition(all 0.3s ease-in-out);
            }

            .e-inner {
                background: $c-white;
                position: relative;
            }
        }
    }

    @media (min-width: $screen-lg) {
        padding: 120px 0 90px;

        .e-item {
            flex: 0 0 29%;
            flex: 0 0 calc(33.333% - 50px);

            .e-inner {
                padding: 28px 30px 88px;

                .icon {
                    bottom: 30px;
                }
            }
        }
    }

    @media (min-width: $screen-xl) {
        padding: 150px 0 120px;
    }
}
