.related-content {

    .related-content__content {
        margin-top: 16px;

        &.m-no-title {

            .related-content__nav {
                display: none;
            }
        }

        @media(min-width:$screen-sm) {
        }

        @media(min-width:$screen-md) {
            background-color: white;
            margin-left: calc((100% - 1000px) / 2);
            min-height: 200px;
            padding: 10px 0px 40px 40px;

            &.m-no-title {
                padding: 50px 0px 50px 50px;
            }
        }

        @media(min-width:$screen-lg) {
            /*margin-left: calc((100% - 1140px) / 2);*/
            margin-left: calc((100% - 1225px) / 2);
            padding: 15px 0px 50px 50px;

            &.m-no-title {
                padding: 50px 0px 50px 50px;
            }
        }

        @media(min-width:$screen-xl) {
            margin-left: calc((100% - 1360px) / 2);
            padding: 35px 0px 70px 82px;

            &.m-no-title {
                padding: 70px 0px 70px 70px;
            }
        }
    }

    .related-content__nav {
        background-color: #F8F8F8;
        margin-bottom: 35px;

        .nav-item {
            display: inline-block;
        }

        @media(max-width:$screen-md) {

            > div {
                padding: 0px 35px;
                max-width: auto;
                margin: initial;
            }
        }

        @media(max-width:$screen-md) {
            height: 54px;
            overflow: hidden;
            -webkit-box-shadow: 1px 1px 7px -1px #002E44;
            box-shadow: 1px 1px 7px -1px #002E44;

            > div {
                //padding: 0px 35px;
                overflow-x: scroll;
                max-width: 680px;
                margin: 0 auto;
                display: flex;
                height: 100px;
            }

            .nav-item {
                display: inline-block;
                color: $c-softgreytext;
                padding: 15px 25px;

                &:first-child {
                    padding-left: 10px;
                }

                &.m-active {
                    color: $c-lightcyan;
                }
            }
        }

        @media(min-width:$screen-md) {
            border-bottom: 1px solid #dcdcdc;
            margin-bottom: 24px;
            background-color: white;

            .nav-item {
                color: $c-lightcyan;
                padding: 28px 50px;
                font-weight: 500;
                font-size: 1.8rem;
                cursor: pointer;

                &.m-active {
                    color: $c-navy;
                    border-bottom: 2px solid $c-lightcyan;
                }

                &:hover {
                    color: $c-navy;
                }
            }
        }

        @media(min-width:$screen-xl) {
            margin-bottom: 28px;
        }
    }

    .related-content__slide-container {
        margin: 0px -10px;
        position: relative;

        &:hover {
            .related-content__slider-fade.m-active .next {

                @include opacity(1);
            }
        }
    }

    .related-content__slider-fade {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 25%;
        height: 100%;
        z-index: 5;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 38%, rgba(255,255,255,0.6) 81%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 38%, rgba(255,255,255,0.6) 81%, rgba(255,255,255,0) 100%);
        background: linear-gradient(270deg, rgba(255,255,255,1) 38%, rgba(255,255,255,0.6) 81%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        .next {

            $dimensions: 60px;

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $c-navy;
            color: white;
            //padding: 20px;
            border-radius: 50%;
            height: $dimensions;
            width: $dimensions;
            position: relative;
            right: 20px;
            box-shadow: 4px 4px 5px -3px rgba(0,85,129,0.75);
            -webkit-box-shadow: 4px 4px 5px -3px rgba(0,85,129,0.75);
            -moz-box-shadow: 4px 4px 5px -3px rgba(0,85,129,0.75);
            cursor: pointer;
            @include opacity(0);
            transition: opacity 0.3s ease-in-out;

            svg {
                fill: white;
                height: 36px;
            }
        }

        @media(min-width:$screen-md) {
            display: flex;
        }


        @media(min-width:$screen-lg) {
            width: 20%;
        }
    }

    .related-content__slider {
        width: 100%;
    }

    .related-content__item {
        margin: 0px 10px;
        transition: opacity 0.3s ease-in-out;
    }

    .related-content__item.m-insight {
        //max-width: 280px;

        border-bottom: none;

        .image-container {
            height: 220px;
            //height: 160px;
            overflow: hidden;
            position: relative;

            img {
                vertical-align: top;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                height: auto;
                /*max-height: none;
                max-width: none;*/
                min-height: 100%;
                min-width: 100%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transition: all 0.3s ease-in-out; 
                -webkit-backface-visibility: hidden;
            }
        }

        h3 {
            /*font-size: 2rem;
            line-height: 26px;*/
            font-size: 1.7rem;
            line-height: 23px;
            padding: 0px 1px;
            transition: color 0.2s ease-in-out;
            //font-family: $f-openSans;
        }

        p {
            margin: 10px 0px 0px;
            font-size: 1.5rem;
            padding: 0px 1px;
        }

        &:hover {

            img {
                -moz-transform: translate(-50%, -50%) scale(1.05);
                -o-transform: translate(-50%, -50%) scale(1.05);
                -ms-transform: translate(-50%, -50%) scale(1.05);
                -webkit-transform: translate(-50%, -50%) scale(1.05);
                transform: translate(-50%, -50%) scale(1.05);
            }

            h3 {
                color: $c-lightcyan;
            }
        }

        @media(max-width: $screen-md) {
            background-color: white;
            -webkit-box-shadow: 1px 1px 7px -1px #002E44;
            box-shadow: 1px 1px 7px -1px #002E44;

            .text-container {
                padding: 30px 25px;

                h3 {
                    margin-top: 0px;
                }
            }
        }

        @media(min-width:$screen-xs) {

            .image-container {
                height: 300px;
            }
        }

        @media(min-width:$screen-sm) {

            .image-container {
                height: 400px;
            }
        }

        @media(min-width:$screen-md) {

            p {
                font-size: 1.4rem;
            }

            .image-container {
                height: 160px;
            }
        }

        @media(min-width:$screen-lg) {
            /*.image-container {
                height: 160px;
            }*/
        }

        @media(min-width:$screen-xl) {
            .image-container {
                height: 180px;
            }
        }
    }

    .e-carousel-controls {
        display: block;
        font-size: 0;
        line-height: 0;
        margin-top: 25px;

        .e-counter {
            width: 50px;
            display: inline-block;
            vertical-align: middle;

            span {
                color: $c-softgreytext;
                @include font-size(1.4, 1.4);

                &:first-child {
                    color: $c-lightcyan;
                    font-weight: 600;
                }
            }
        }

        .e-progressbar {
            width: calc(100% - 145px);
            margin: 0 25px;
            display: inline-block;
            vertical-align: middle;
            height: 2px;
            //background: $c-softgreytext;
            background: $c-white;
            position: relative;

            span {
                width: 0;
                background: $c-lightcyan;
                height: 4px;
                position: absolute;
                left: 0;
                top: -1px;
                margin-left: 0;
                @include transition(all 0.3s ease-in-out);
            }
        }

        .e-arrows {
            width: 45px;
            display: inline-block;

            .e-right {
                .icon {
                    float: right;
                }
            }

            .e-left, .e-right {
                width: 50%;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                min-height: 25px;

                .icon {
                    fill: $c-lightcyan;
                    width: 14px;
                    margin-top: 6px;
                    height: 12px;
                    @include transition(all 0.3s ease-in-out);
                }
            }

            .e-right {
                width: 50%;
                display: inline-block;

                &.disabled {
                    cursor: default;

                    &:hover {
                        .icon {
                            fill: $c-softgreytext;
                        }
                    }

                    .icon {
                        fill: $c-softgreytext;
                    }
                }
            }
        }

        @media(min-width: $screen-md) {
            display: none;
        }
    }

    .mobile-container {
        padding: 0px 35px;

        @media(min-width: $screen-sm) {
            padding: 0px 0px;
            margin: 0 auto;
            max-width: 680px;
        }

        @media(min-width: $screen-md) {
            padding: 0px 0px;
            margin: 0px 0px;
            max-width: none;
        }
    }
    // Fixes

    .slick-track {
        display: flex;
        align-items: stretch;
    }

    .slick-track .slick-slide {
        //display: flex;
        height: auto;
    }
}
