.m-slim6040 {
    padding: 0 0 50px;
    @include clearfix();
    position: relative;

    &.reverse {
        @media (min-width: $screen-sm) {
            .e-image {
                float: left;
                padding-right: 25px;
                padding-left: 0;
            }

            .e-text {
                float: right;
                padding-right: 0;
                padding-left: 25px;
            }
        }
    }

    h2, h3, h4 {
        margin: 0 0 20px;
    }

    .e-text {
        @include grid(12, 6, 7, 7, 7, $padding: false);
    }

    .e-image {
        @include grid(12, 6, 5, 5, 5, $padding: false);
    }

    .e-text {
        margin-top: 30px;

        .e-inner {
            & > *:first-child {
                margin-top: 0;
            }

            h2, h3, h4 {
                margin-bottom: 0;
            }

            .address {
                padding: 0;
                margin-top: 13px;

                li {
                    margin-top: 2px;
                    color: $c-textgrey-dark;

                    &:before {
                        display: none;
                    }
                }
            }

            .contact {
                padding: 0;
                margin-top: 25px;

                li {
                    &:before {
                        display: none;
                    }

                    &.phone {

                        a, span {
                            &:before {
                                background-image: url('/images/svgs/iconPhone.svg');
                                width: 16px;
                                height: 14px;
                            }
                        }
                        /*a {
              &:before {
                background-image: url('../images/svgs/iconPhone.svg');
                width: 16px;
                height: 14px;
              }
            }*/
                    }

                    &.email {
                        a {
                            &:hover {
                                color: $c-navy;
                            }

                            &:before {
                                background-image: url("/images/svgs/iconEmail.svg");
                                width: 16px;
                                height: 11px;
                            }
                        }
                    }

                    a {
                        position: relative;
                        padding-left: 27.5px;
                        margin: 0;
                        border: none !important;

                        &:before {
                            content: '';
                            width: 20px;
                            height: 20px;
                            @include centre(y);
                            left: 0;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screen-sm) {
        padding: 0 0 80px;

        .e-text {
            padding-right: 25px;
            margin-top: 0;
        }

        .e-image {
            float: right;
            padding-left: 25px;
        }
    }

    @media (min-width: $screen-md) {
        padding: 0 0 100px;

        .container {
            max-width: 970px;
        }

        .e-text {
            .e-inner {
                .contact {
                    li {
                        &.phone {
                            a {
                                color: $c-text;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screen-xl) {
        padding: 0 0 120px;
    }
}
