.m-titletext {
  padding: 50px 0;
  @include clearfix();

  .e-title {
    @include grid(12, 5, 5, 4, 4, $padding: true);
  }

  .e-text {
    @include grid(12, 7, 7, 8, 8, $padding: true);

    .e-text-inner {
      @include grid-margin(1);


      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $screen-sm) {
    line-height: 0;
    font-size: 0;
    padding: 80px 0;
  }

  @media (min-width: $screen-md) {
    padding: 100px 0;
  }

  @media (min-width: $screen-lg) {
    padding: 120px 0;
  }
}
