@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap');

section.who-we-are {

    $transitionTime: 2000ms;

    @keyframes riseUp {
        from {
            top: 50px;
        }

        to {
            top: 0px;
        }
    }

    @mixin slideUp($def) {
        animation-name: riseUp;
        animation-duration: 100ms;
        animation-delay: $def;
        top: 0px;
    }

    @mixin appear($def) {
        -webkit-transition: opacity;
        -moz-transition: opacity;
        -o-transition: opacity;
        transition: opacity;
        transition-duration: $transitionTime;
        transition-delay: $def;
    }

    @include centralisedFullHeightContentBlock();
    background-image: url('/images/views/content-blocks/who-we-are/background.fw.png');
    background-size: cover;
    position: relative;

    .transparent-overlay-blue {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url('/images/transparent-blue.fw.png');
        z-index: 1;
    }

    .content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: white;
    }

    .centred-container {
        .centred-container__content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .left {
                width: 35%;
                opacity: 0;
                position: relative;
            }

            .right {
                width: 65%;
                text-align: center;
            }

            h2 {
                color: white;

                &::after {
                    content: '';
                    display: block;
                    width: 25px;
                    height: 5px;
                    background: #00b6dd;
                    margin-top: 15px;
                }
            }

            p {
                color: white;
            }

            .btn {
                color: white;

                svg {
                    fill: white;
                }
            }
        }
    }

    .figures {
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin: 0 0 0 auto;

        .item {
            position: relative;

            &:nth-child(1) {
                opacity: 0;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                opacity: 0;
            }
        }

        .figure {
            font-family: 'Arima Madurai', cursive;
            font-size: 9rem;
            line-height: initial;
        }

        .title {
            font-size: 2.5rem;
        }
    }

    @media(min-width: $screen-lg) {
        background-attachment: fixed;
    }

    &.-inview {

        .centred-container {
            .centred-container__content {
                .left {
                    @include appear(1s);
                    @include slideUp(1s);
                    opacity: 1;
                }
            }
        }

        .figures {


            .item {

                &:nth-child(1) {
                    @include appear(2s);
                    @include slideUp(2s);
                    opacity: 1;
                    top: 0px;
                }

                &:nth-child(2) {
                    @include appear(3s);
                    @include slideUp(3s);
                    opacity: 1;
                    top: 0px;
                }

                &:nth-child(3) {
                    @include appear(4s);
                    @include slideUp(4s);
                    opacity: 1;
                    top: 0px;
                }
            }
        }
    }
}
