.m-newsindex {
  .m-subnav {
    @include font-size(1.8, 2.2);
    width: 100%;
    padding: 15px 65px 15px 35px;
    text-align: left;
    position: relative;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid $c-linegrey;

    h4 {
      margin: 0;
    }

    .submenuBtn {
      position: absolute;
      right: 35px;
      top: 50%;
      margin-top: -20px;
      z-index: 50;
      display: block;
      width: 30px;
      height: 40px;
      overflow: hidden;

      span {
        @include border-radius(20px);
        @include transition(all 0.2s ease-in-out);
        background: $c-title;
        width: 6px;
        height: 6px;
        margin: 18px 2px;
        float: left;

        position: absolute;

        &:first-child {
          left: 0;
        }
        &:nth-child(2) {
          left: 50%;
          margin-left: -3px;
        }
        &:last-child {
          right: 0;
        }
      }

      &.open {
        span {
          &:first-child {
            @include rotate(-45deg);
            width: 22px;
            height: 2px;
            top: 0;
            left: 4px;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            @include rotate(45deg);
            width: 22px;
            height: 2px;
            top: 0;
          }
        }
      }
    }
  }

  .container {
    position: relative;
  }

  .l-newslist {
    @include grid(12, 8, 8, 9, 9, true);
    padding-bottom: 50px;

    img {
      margin-bottom: 15px;
    }
  }

  .l-newsnav {
    @include grid(12, 4, 4, 3, 3, true);
    @include clearfix;
    position: absolute;
    width: 100%;
    top: 52px;
    left: 0;
    z-index: 50;
    display: none;
    padding-top: 26px;
    padding-bottom: 26px;
    border-top: 1px solid $c-linegrey;
    border-bottom: 1px solid $c-linegrey;
    background: $c-white;

    h3 {
      margin-top: 0;
    }

    ul {
      margin: 0px 0 45px;
      float: left;
      width: 100%;
      list-style: none;
      padding: 0;

      &:last-child {
        margin-bottom: 30px;
      }

      &.e-newsaccordions {
        .e-title {
          @include transition(color 0.3s ease-in-out);
          position: relative;

          &:hover {
            color: $c-lightcyan;
          }

          &.open {
            .icon {
              @include transform(rotate(180deg));
            }
          }

          .icon {
            width: 7px;
            height: 4px;
            margin-left: 10px;
            fill: $c-lightcyan;
            @include centre(y);
            @include transition(all 0.3s ease-in-out);
            right: 0;
            display: inline-block;
            transform-origin: 50% 25%;
          }
        }
      }

      li {
        margin: 0;
        float: left;
        width: 100%;
        padding-left: 0;

        &:before {
          display: none;
        }

        a {
          width: 100%;
          float: left;
          padding: 15px 0;
          font-weight: 400;
          position: relative;
          color: $c-text;
          box-sizing: border-box;
          margin: 0;
          border-bottom: 1px solid $c-linegrey;

          &:after {
            display: none;
          }

          span {
            color: $c-lightcyan;
            font-weight: 600;
          }
        }

        .e-title {
          @include font-size(1.6, 2.4);
          @include transition(color 0.2s ease-in-out);
          margin: 0;
          padding: 15px 0;
          color: $c-text;
          cursor: pointer;
          position: relative;
          border-bottom: 1px solid $c-linegrey;
        }

        .more {
          display: none;
          padding-left: 30px;
          box-sizing: border-box;

          li {
            a {
              border: 0;
            }
          }
        }

        &.active {
          a {
            color: $c-navy;
          }
        }
      }
    }
  }

  .e-newsitem {
    padding: 40px 0;
    margin: 0;
    border-top: 1px solid $c-linegrey;
    border-bottom: none !important;

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:hover {
      .btn {
        background: $c-lightcyan;
        border-color: $c-lightcyan;
        color: $c-white;

        .icon {
          fill: $c-white;
        }
      }
    }

    .e-date {
      @include font-size(1.6, 2.4);
      color: $c-magenta;
      font-weight: 600;
      margin: 0;
    }

    .e-title {
      margin: 5px 0;

      a {
        @include transition(all 0.2s ease-in-out);
        color: $c-title;
        background: none;

        &:after {
          display: none;
        }
      }
    }

    .e-tags {
      margin: 0 0 10px;
      font-size: 0;

      span {
        @include font-size(1.4, 2.2);
        color: $c-lightcyan;
        font-weight: 400;
        display: inline-block;

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: '|';
          display: inline-block;
          margin: 0 5px;
          @include font-size(1.6, 2.2);
          position: relative;
          top: -1.5px;
        }
      }
    }

    .e-cta {
      @include font-size(1.2, 2);
      text-transform: uppercase;

      .fa {
        @include font-size(0.8, 2);
        vertical-align: middle;
        margin-left: 3px;
      }
    }
  }

  @media (min-width: $screen-sm) {
    padding-top: 40px;

    .l-newsnav {
      position: relative;
      box-shadow: none;
      top: auto;
      margin: 0;
      display: block;
      padding-top: 20px;
      background: none;
      float: right;
      border-top: none;
      border-bottom: none;

      ul {
        li {
          a,
          .e-title {
            @include font-size(1.4, 1.8);

            &:hover {
              color: $c-lightcyan;
            }
          }
        }
      }
    }

    .l-newslist {
      padding-top: 20px;
      padding-bottom: 80px;
    }
  }

  @media (min-width: $screen-md) {
    padding-top: 60px;

    .e-title {
      a {
        &:hover {
          color: $c-navy;
        }
      }
    }

    .l-newslist {
      padding-bottom: 100px;
    }

    .l-newsnav {
      padding-left: 60px;

      ul {
        li {
          a {
            @include font-size(1.6, 2.4);
            &:hover {
              color: $c-navy;
            }
          }

          .e-title {
            @include font-size(1.6, 2.4);
          }
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    padding-top: 100px;

    .l-newsnav {
      padding-left: 15px;
    }

    .l-newslist {
      padding-right: 250px;
      padding-bottom: 120px;
    }

    .e-newsitem {
      padding: 60px 0;

      h2 {
        @include font-size(3.4, 4.2);
      }
    }
  }

  @media (min-width: $screen-xl) {
    .l-newslist {
      padding-right: 280px;
    }

    .e-newsitem {
      h2 {
        @include font-size(3.8, 4.6);
      }

      .e-date {
        @include font-size(1.8, 2.6);
      }

      .e-tags {
        span {
          @include font-size(1.6, 2.4);
        }
      }
    }
  }
}
