@use '../references/variables' as *;
@use '../references/mixins' as *;

.container {
  @include clearfix();
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8%;
  box-sizing: content-box;

  &.small {
    max-width: 840px;
  }
}

.center {
  text-align: center;
}
