:root {
  --colour-white: #ffffff;
  --colour-offWhite: #fcfcf6;
  --colour-black: #333333;
  --colour-grey: #5f5c58;
  --colour-darkGrey: #505050;
  --colour-border: #dcdcdc;
  --colour-lightBorder: #ebebeb;

  --colour-navy: #1e2d40;
  --colour-cyan: #1a9dd9;
  --colour-cyanHover: #178ec4;
  --colour-cream: #eae6db;
  --colour-green: #83a92a;
  --colour-orange: #d25218;
  --colour-purple: #aa5b9e;

  --colour-anchor: #0065bd;

  --colour-cloud: #f4f7fa;
}
