.m-404search {
  form {
    margin: 0 -35px;

    .input {
      box-shadow: 0 0px 10px 0px $c-linegrey;
      position: relative;

      input {
        @include font-size(1.6, 2.4);
        background: $c-white;
        border: none;
        margin: 0;
        padding: 22px 90px !important;
        background-image: url('/images/svgs/icon_search-lightblue.svg') !important;
        background-position: left 35px center;
        background-repeat: no-repeat;
        background-size: 20px 20px !important;
        color: $c-textgrey;
      }

      button {
        background: $c-lightcyan;
        color: $c-white;
        border-color: $c-lightcyan;
        padding: 25px;
        font-weight: 600;
        width: 100%;

        &:hover {
          background: $c-navy;
          border-color: $c-navy;
        }
      }
    }
  }

  @media (min-width: 650px) {
    form {
      margin: -55px 0 0;

      .input {
        input {
          padding: 43px 250px 43px 90px !important;
        }

        button {
          @include centre(y);
          right: 35px;
          width: 200px;
          padding: 20px;
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    form {
      .input {
        input {
          padding: 43px 315px 43px 90px !important;
        }

        button {
          width: 260px;
        }
      }
    }
  }
}
