@use "../elements";

html {
  font-size: 62.5%;
}

body {
  @include elements.paragraphRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  word-break: break-word;
}
