/*****
Reference to SMACSS - http://smacss.com/

NAMING CONVENTIONS:
c- : Color,
l- : Layout,
m- : Module,
f- : Form,
e- : Element,
*****/

//COLOURS
$c-title: #00537f;
$c-text: #69757c;
$c-link: #ff0000;
$c-softgreytext: #cacccb;
$c-darkgreytext: #87918b;

$c-white: #ffffff;
$c-black: #000000;

$c-softgrey: #f4f4f4;
$c-softbrown: #f5f4f1;

$c-mediumgrey: #575656;
$c-darkgrey: #111111;

$c-linegrey: #dcdcdc;
$c-errorbg: #ffdcdc;
$c-red: #e6363b;
$c-rubinred: #e20177;

$c-mobilenavbk: #333;
$c-mobilenavtext: #fff;
$c-hamburger: #ffffff;

$c-deepnavy: #00324d;
$c-navy: #00537f;
$c-lightnavy: #4386ad;
$c-lightcyan: #00b6dd;
$c-deepcyan: #00a7cc;
$c-cyanline: #00c6f0;

$c-magenta: #e20177;
$c-yellow: #d4d007;

$c-baige: #f5f4f1;
$c-baigedark: #f0efeb;

$c-brown: #282b29;
$c-deepbrown: #181a18;

$c-textgrey: #72828d;
$c-textgrey-dark: #535753;

$c-BMT-290C: #b9e0f7;

$c-green: #7ab800;
