.e-item {



}


.e-item--publication-preview {
    width: 100%;

    .e-inner {
        display: flex;
    }

    .e-image {
        display: none;
        flex: 0 0 35% !important;
        max-width: 40% !important; // fix for IE
        padding: 33px 7px 33px 33px !important;
        box-sizing: border-box;

        img {
            position: relative !important;
            top: initial !important;
            left: initial !important;
            width: 100% !important;
            transform: none !important;
            -ms-transform: none !important;
            -webkit-transform: none !important;
        }
    }



    @media (min-width: $screen-lg) {
        .e-image {
            display: inline-block !important;
        }

        .e-text {
            flex: 0 0 65% !important;
            max-width: 60% !important;
        }
    }

    @media (min-width: $screen-xl) {
        .e-image {
            display: inline-block !important;
            flex: 0 0 30% !important;
            max-width: 30% !important; // fix for IE
        }

        .e-text {
            flex: 0 0 70% !important;
            max-width: 70% !important;
        }
    }
}
