.sdg-grid-base {
    display: flex;
    flex-wrap: wrap;

    a {
        flex: 0 0 100%;
        margin-top: 0px;
        border-bottom: none !important;

        img {
            max-width: 100%;
            display: block;
        }
    }
}

.sdg-grid {

    @extend .sdg-grid-base;
    @media(min-width: $screen-xs) {

        a {
            flex: 0 0 50%;
        }
    }

    @media(min-width: $screen-md) {

        a {
            flex: 0 0 33.3%;
        }
    }

    @media(min-width: $screen-md) {

        a {
            flex: 0 0 33.3%;
        }
    }

    @media(min-width: $screen-lg) {

        a {
            flex: 0 0 25%;
        }
    }
}


.sdg-grid.-two-column {

    @extend .sdg-grid-base;

    @media(min-width: $screen-xs) {

        a {
            flex: 0 0 50%;
        }
    }
}
