.btn, button {
    @include font-size(1.6, 1.6);
    border: 1px solid $c-linegrey;
    display: inline-block;
    background: transparent;
    @include transition(all 0.3s ease-in-out);
    text-decoration: none;
    border-radius: 0;
    color: $c-navy;
    font-weight: 500;
    padding: 21px 25px;
    min-width: 160px;
    cursor: pointer;

    .icon {
        fill: $c-lightcyan;
        @include transition(all 0.3s ease-in-out);
        float: right;
        margin-top: 3px;
        margin-left: 20px;
        // Fontawesome
        &.svg-inline--fa {
            margin-top: 0px;
        }
    }

    &:hover, &:active {
        background: $c-lightcyan;
        color: $c-white;
        border-color: $c-lightcyan;

        .icon {
            fill: $c-white;
        }
    }

    &.disabled, &:disabled {
        background: #ededed;
        border-color: #ededed;
        color: #b8c0c6;
        cursor: default;

        .icon {
            fill: #b8c0c6;
        }
    }

    &.btn-lightblue {
        background: $c-lightcyan;
        border-color: white;
        color: $c-white;

        .icon {
            fill: $c-white;
        }

        &:hover {
            background: $c-white;
            color: $c-lightcyan;
            border-color: $c-white;

            .icon {
                fill: $c-lightcyan;
            }
        }
    }

    &.btn-lightblue-no-hover {
        background: $c-lightcyan;
        border-color: white;
        color: $c-white !important;

        .icon {
            fill: $c-white;
        }
    }

    &.btn-white {
        color: $c-white;
    }

    &.btn--green {
    }
}


.btn--always-active {

    @extend .btn;
    background: $c-lightcyan;
    color: $c-white;
    border-color: $c-lightcyan;

    .icon {
        fill: $c-white;
    }
}

.btn--on-cyan-background {

    @extend .btn;
    color: $c-white;
    border-color: $c-white;

    .icon {
        fill: $c-white;
    }

    &:hover, &:active {
        background: $c-white;
        color: $c-lightcyan;

        .icon {
            fill: $c-lightcyan;
        }
    }
}

.btn--on-white-background {

    @extend .btn;
    color: $c-white;
    border-color: $c-white;

    .icon {
        fill: $c-white;
    }

    &:hover, &:active {
        background: $c-white;
        color: $c-lightcyan;
        border-color: $c-white;

        .icon {
            fill: $c-lightcyan;
        }
    }
}

.btn--on-navy-background {

    @extend .btn;
    color: $c-white;
    border-color: $c-white;

    &:hover, &:active {
        background: $c-white;
        color: $c-lightcyan;
        border-color: $c-white;

        .icon {
            fill: $c-lightcyan;
        }
    }
}

.btn--on-grey-background {

    @extend .btn;
    color: $c-white;
    border-color: $c-white;

    &:hover, &:active, &:visited {
        background: $c-white;
        color: $c-lightcyan;
        border-color: $c-white;

        .icon {
            fill: $c-lightcyan;
        }
    }
}

.btn--light-grey-line {

    @extend .btn;
    color: $c-darkgreytext;
    border-color: $c-darkgreytext;

    &:hover, &:active {
        background: $c-lightcyan;
        color: $c-white;
        border-color: $c-lightcyan;

        .icon {
            fill: $c-white;
        }
    }
}

.btn-v2 {
}
