@mixin generic-section-dark-grey {
    background-color: $c-brown;

    h2 {
        color: white;
    }

    p.preamble {
        color: $c-softgreytext;
    }

    &.m-supergraphic {
        background-image: url(/images/svgs/bmt-mark.svg);
    }

    &.m-inset {

        @include contentBlockInset--grey;
    }
}


section.generic {
    padding: 50px 0;
    position: relative;
    /*&.m-supergraphic {
        background-image: url(/images/svgs/bmt-mark.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 40%;
        overflow: hidden; 
        position: relative;
    }*/

    &.m-supergraphic {
        background-image: url(/images/svgs/bmt-mark.svg);
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        background-size: 510px;
        background-position: center -50px;

        @media (min-width: $screen-xs) {
            background-size: 800px;
            background-position: center -150px;
        }

        @media (min-width: $screen-sm) {
            background-size: 1000px;
            background-position: center -150px;
        }

        @media (min-width: $screen-md) {
            background-size: 1300px;
            background-position: center -170px;
        }

        @media (min-width: $screen-lg) {
            background-size: 1800px;
            background-position: center -430px;
        }

        @media (min-width: $screen-xl) {
            background-size: 1950px;
            background-position: center -465px;
        }

        @media (min-width: $screen-sxl) {
            background-size: cover;
            background-position: 50% 40%;
        }
    }

    .container {
        position: relative;
        z-index: 2;

        > h2:first-child, h2.section-heading {
            margin-top: 0px;
        }
    }

    .generic-heading {
        //display: flex;
        //margin-bottom: 100px;
        margin-bottom: 15px;

        .generic-heading__heading {
            //flex: 0 0 30%;
        }

        .generic-heading__preamble {
            display: none;
        }

        &.m-narrow {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .background-image {
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            vertical-align: top;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            max-height: none;
            max-width: none;
            min-height: 100%;
            min-width: 100%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

        .overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: rgba($c-lightnavy, 0.9);
            @include contentBlockInset--light-navy;
        }
    }

    &.m-inset {

        @include contentBlockInset--white;
    }

    &.m-light-grey {
        background-color: $c-softgrey;

        &.m-supergraphic {
            background-image: url("/images/svgs/bmt-mark-grey.svg");
        }

        &.m-inset {

            @include contentBlockInset--light-grey;
        }
    }

    &.m-dark-grey {
        @include generic-section-dark-grey;
    }

    &.m-navy {
        background-color: $c-navy;

        h2 {
            color: white;
        }

        p.preamble {
            color: $c-white;
        }

        &.m-inset {

            @include contentBlockInset--navy;
        }

        &.m-supergraphic {
            background-image: url(/images/svgs/bmt-mark-blue.svg);
        }
    }

    &.m-light-navy {
        background-color: $c-lightnavy;

        h2 {
            color: white;
        }

        p.preamble {
            color: $c-white;
        }

        &.m-inset {

            @include contentBlockInset--navy;
        }

        &.m-supergraphic {
            background-image: url(/images/svgs/bmt-mark-blue.svg);
        }
    }

    &.m-cyan {
        background-color: $c-lightcyan;

        h2 {
            color: white;
            &.title-underline{

                &::after{

                    background-color:white;

                }

            }
        }

        &.m-inset {

            @include contentBlockInset--cyan;
        }
    }

    @media (min-width: $screen-sm) {
        padding: 80px 0;

        .generic-heading {
            //margin-bottom: 100px;
            margin-bottom: 60px;

            .generic-heading__preamble {
                display: block;
            }
        }
    }

    @media (min-width: $screen-md) {
        padding: 100px 0;

        .generic-heading {
            margin-bottom: 80px;
        }
    }

    @media (min-width: $screen-lg) {

        .generic-heading {
            display: flex;

            .generic-heading__heading {
                flex: 0 0 30%;
            }
        }
    }

    @media (min-width: $screen-xl) {
        padding: 120px 0;

        .generic-heading {
            margin-bottom: 100px;
        }
    }

    &.m-narrow {

        @media (min-width: $screen-lg) {
            .container {
                max-width: 1100px;
            }
        }

        @media (min-width: $screen-xl) {
            .container {
                max-width: 1200px;
            }
        }
    }
}
