.icon-buttonarrow {
  height: 10px;
  width: 12.5px;
}

.icon-buttonarrow-left {
  height: 10px;
  width: 12.5px;
}

.icon-menu_arrow_down {
  height: 6px;
  width: 10px;
}

.icon-more_services {
  width: 12px;
  height: 12px;
}

.icon-grid_view {
  width: 15px;
  height: 12px;
}

.icon-icon_home {
  width: 15px;
  height: 14px;
}

.icon-right_arrow {
  width: 4.5px;
  height: 7px;
}

.icon-icon_connect {
  width: 30px;
  height: 30px;
}

.icon-icon_search {
  width: 18px;
  height: 18px;
}

.icon-refresh {
  width: 12px;
  height: 12px;
}

.bmt-mark {
  width: 0;
  height: 0;
  fill:none;
  stroke-width:5;
  stroke-miterlimit:10;
}
