.m-careerslistings {
    @include clearfix();
    padding-bottom: 50px;

    &.m-careerslistings--no-az {

        padding-top:50px;

    }

    .e-jobitem {
        background: $c-white;
        padding: 35px;
        margin: 0 0 35px;
        display: block;
        border: none !important;
        box-shadow: 0 0px 10px 0px $c-linegrey;

        &:hover {
            h3 {
                color: $c-lightcyan;
            }
        }

        &.titles {
            display: none;
        }

        .e-detail {
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;

            h3, p {
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h3 {
                @include font-size(1.8, 2.6);
                font-weight: 500;
                margin-bottom: 10px;
                @include transition(color 0.3s ease-in-out);
            }

            p {
                @include font-size(1.6, 2.4);

                span {
                    font-weight: 600;
                }
            }
        }
    }

    @media (min-width: $screen-sm) {
        padding-bottom: 80px;
    }

    @media (min-width: $screen-md) {
        padding-bottom: 100px;

        .e-jobitem {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 25px 40px;
            box-shadow: none;

            &:nth-child(even) {
                background: $c-softbrown;
            }

            &.titles {
                display: flex;
                padding: 40px 40px;

                .e-detail {
                    h2 {
                        @include font-size(1.8, 2.6);
                        margin: 0;
                    }
                }
            }

            .e-detail {
                margin: 0;

                &.job {
                    /*flex: 0 0 40%;*/
                    flex: 1;
                }

                &.role-type {
                    flex: 0 0 25%;
                }

                &.location {
                    flex: 0 0 20%;
                }

                &.closing-date {
                    flex: 0 0 15%;
                }

                h3, p {
                    padding-right: 35px;

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-lg) {
        .e-jobitem {
            .e-detail {
                h3, p {
                    max-width: 80%;
                }
            }
        }
    }

    @media (min-width: $screen-xl) {
        padding-bottom: 120px;
    }
}
