.m-slideshowbanner {
    position: relative;
    line-height: 0;

    .js-slide-container {
        .e-slide {
            display: inline-block;
            position: relative;

            &.dark-overlay {
                .e-background {
                    &:before {
                        content: '';
                        background: $c-black;
                        opacity: 0.4;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        z-index: 1;
                    }
                }
            }

            .e-background {
                position: relative;
                overflow: hidden;
                height: 85vh;
                min-height: 550px;

                img,
                video {
                    @include image-cover();
                }

                video {
                    display: none;
                }
            }

            .container {
                @include centre(both);
                z-index: 2;
                margin-top: 20px;

                .e-text {
                    max-width: 90%;

                    .e-title,
                    .e-small-title,
                    .e-sub {
                        color: $c-white;
                    }

                    .e-title {
                        @include font-size(4, 4.8);
                        margin-bottom: 5px;
                    }

                    .e-small-title {
                        @include font-size(3, 3.8);
                        margin-bottom: 5px;
                    }

                    .e-sub {
                        @include font-size(1.4, 2.4);
                        margin-top: 0;
                    }

                    .tags {
                        margin-bottom: 15px;

                        p {
                            color: $c-lightcyan;
                            display: inline-block;
                            margin: 0;
                            font-weight: 600;

                            &:last-child {
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .e-standard-slider-controls {
        display: none;
    }

    .e-mobile-slider-controls {
        position: absolute;
        bottom: 25px;
        left: 0;
        @include clearfix();
        width: calc(100% - 70px);
        margin: 0 35px;

        .e-count {
            float: left;
            display: inline-block;

            span {
                color: $c-white;
                @include font-size(1.4, 1.4);

                &:first-child {
                    color: $c-lightcyan;
                    font-weight: 600;
                }
            }
        }

        .e-arrows {
            float: right;
            display: inline-block;

            .e-left,
            .e-right {
                display: inline-block;
                width: 30px;

                .icon {
                    fill: $c-lightcyan;
                    width: 18px;
                    height: 15px;
                    @include transition(all 0.3s ease-in-out);
                }
            }

            .e-right {
                .icon {
                    float: right;
                }
            }
        }
    }

    @media (min-width: $screen-sm) {
        .js-slide-container {
            .e-slide {
                .e-background {
                    video {
                        display: none;
                    }
                }

                .container {
                    .e-text {
                        max-width: 70%;

                        .e-title {
                            @include font-size(5, 5.8);
                        }

                        .e-small-title {
                            @include font-size(3, 4.8);
                            margin-bottom: 5px;
                        }

                        .e-sub {
                            @include font-size(1.8, 2.8);
                        }

                        .tags {
                            margin-bottom: 15px;

                            p {
                                color: $c-lightcyan;
                                display: inline-block;
                                margin: 0;
                                font-weight: 600;

                                &:last-child {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .e-mobile-slider-controls {
            display: none;
        }

        .e-standard-slider-controls {
            width: 100%;
            position: absolute;
            top: 450px;
            display: inline-block;

            .container {
                .e-standard-left {
                    display: inline-block;
                    float: left;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }

                .e-standard-right {
                    display: inline-block;
                    float: right;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }
            }
        }
    }

    @media (min-width: $screen-md) {
        .js-slide-container {
            .e-slide {
                .e-background {
                    height: 90vh;
                }
            }
        }

        .e-mobile-slider-controls {
            display: none;
        }

        .e-standard-slider-controls {
            width: 100%;
            position: absolute;
            top: 500px;
            display: inline-block;

            .container {
                .e-standard-left {
                    display: inline-block;
                    float: left;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }

                .e-standard-right {
                    display: inline-block;
                    float: right;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }
            }
        }
    }

    @media (min-width: $screen-lg) {
        overflow: hidden;

        .js-slide-container {
            .e-slide {
                .e-background {
                    max-height: 640px;

                    &.has-video {
                        video {
                            display: block;
                        }

                        img {
                            display: none;
                        }
                    }
                }

                .container {
                    .e-text {
                        max-width: 700px;

                        .e-title {
                            @include font-size(6, 6.8);
                        }

                        .e-sub {
                            @include font-size(2.1, 2.9);
                            max-width: 80%;
                        }

                        .tags {
                            margin-bottom: 15px;

                            p {
                                color: $c-lightcyan;
                                display: inline-block;
                                margin: 0;
                                font-weight: 600;

                                &:last-child {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .e-mobile-slider-controls {
            display: none;
        }

        .e-standard-slider-controls {
            width: 100%;
            position: absolute;
            top: 420px;
            display: inline-block;

            .container {
                .e-standard-left {
                    display: inline-block;
                    float: left;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }

                .e-standard-right {
                    display: inline-block;
                    float: right;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }
            }
        }
    }

    @media (min-width: $screen-lg) and (max-width: $screen-xl) {
        .js-slide-container .e-slide .container {
            top: 40%;
        }

        .e-mobile-slider-controls {
            display: none;
        }

        .e-standard-slider-controls {
            width: 100%;
            position: absolute;
            top: 405px;
            display: inline-block;

            .container {
                .e-standard-left {
                    display: inline-block;
                    float: left;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }

                .e-standard-right {
                    display: inline-block;
                    float: right;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }
            }
        }
    }

    @media (min-width: $screen-xl) {
        .e-mobile-slider-controls {
            display: none;
        }

        .e-standard-slider-controls {
            width: 100%;
            position: absolute;
            top: 305px;
            display: inline-block;

            .container {
                max-width: 1800px;

                .e-standard-left {
                    display: inline-block;
                    float: left;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }

                .e-standard-right {
                    display: inline-block;
                    float: right;

                    .icon {
                        fill: $c-lightcyan;
                        width: 27px;
                        height: 25px;
                        @include transition(all 0.3s ease-in-out);
                    }
                }
            }
        }
    }
}
