.m-videobanner {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 550px;

  &.video-loaded {
    .text,
    .anchorButton {
      opacity: 1;
    }
  }

  &:before {
    content: "";
    background-image: linear-gradient(rgba(black, 0.8), rgba(black, 0.4));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .text {
    @include centre(both);
    z-index: 3;
    margin-top: 25px;
    width: 100%;

    h1 {
      @include font-size(3.5, 4.5);
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      color: white;
      text-align: center;
      margin: 0;

      .titleSection {
        display: block;
        margin-bottom: 5px;
      }

      .blue {
        color: $c-lightcyan;
      }
    }
  }

  .anchorButton {
    @include centre(x);
    width: 50px;
    height: 50px;
    bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0px;
    padding: 0;
    background: rgba(black, 0.2);
    border: solid 1px rgba(white, 0.2);
    z-index: 5;

    svg {
      width: 20px;
      height: 20px;
      fill: $c-lightcyan;
      transform: rotate(90deg);
      margin: 0;
      float: none;
      opacity: 0.6;
    }

    &:hover {
      border: solid 1px rgba(black, 0.6);
      background: rgba(black, 0.6);

      svg {
        fill: $c-lightcyan;
      }
    }
  }

  .backgroundVideo {
    display: none;
  }

  .backgroundImage {
    @include image-cover();
  }

  @media (min-width: $screen-sm) {
    .text {
      h1 {
        @include font-size(4, 5);

        .titleSection {
          display: inline-block;
          margin: 0;
        }
      }
    }

    .anchorButton {
      width: 72px;
      height: 72px;
      bottom: 64px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  @media (min-width: $screen-md) {
    min-height: 700px;

    .backgroundImage {
      display: none;
    }

    .backgroundVideo {
      @include image-cover(1920, 1080);
      display: block;
    }

    .text {
      transition: opacity 1s ease 1.5s;
      opacity: 0;
      margin-top: 50px;
    }

    .anchorButton {
      transition: opacity 0.4s ease 2s, border 0.3s ease-in-out,
        background 0.3s ease-in-out;
      opacity: 0;
    }
  }

  @media (min-width: $screen-lg) {
    .text {
      h1 {
        @include font-size(5, 6);
      }
    }
  }

  @media (min-width: $screen-xl) {
    .text {
      h1 {
        @include font-size(6.4, 7.4);
      }
    }
  }
}
