.m-serviceslist {
    padding: 30px 0;
    overflow: hidden;

    .e-serviceblock {
        width: 100%;
        padding: 40px 15px 20px;
        position: relative;
        display: inline-block;
        background: none;
        box-sizing: border-box;
        margin: 0;
        border-bottom: none;

        &[data-letter]:not([data-letter=""]),
        &[data-letter]:not([data-letter='']) {
            &:before {
                @include font-size(3.9, 3.9);
                content: attr(data-letter);
                color: $c-title;
                font-weight: 600;
                display: inline-block;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
        }

        .level-1 {
            padding: 0;
            margin-top: 0;
            max-width: 425px;

            & > li > .e-item {
                &:after {
                    content: '';
                    background-image: url('/images/svgs/menu_arrow_down-blue.svg');
                    width: 15px;
                    height: 8px;
                    background-size: cover;
                    display: block;
                    @include centre(y);
                    right: 0;
                    @include transition(all 0.3s ease-in-out);
                    transform-origin: 50% 25%;
                }

                &.mob-active {
                    &:after {
                        @include transform(rotate(180deg));
                    }
                }

                .icon {
                    display: none;
                }
            }

            li {
                margin: 0;

                &:before {
                    display: none;
                }

                .e-item {
                    margin-top: 0;
                    padding: 15px 0;
                    border-bottom: 1px solid $c-linegrey;
                    display: block;
                    position: relative;
                    @include font-size(1.6, 2.4);
                    color: $c-navy;
                    font-weight: 500;
                    font-family: $f-title;

                    &.active {
                        h3 {
                            color: $c-lightcyan;
                        }
                    }

                    h3 {
                        @include transition(all 0.3s ease-in-out);
                        display: inline-block;
                        @include font-size(1.6, 2.4);
                        font-weight: 500;
                        margin-top: 0;
                        padding-right: 20px;
                    }

                    .icon {
                        position: absolute;
                        top: 50%;
                        margin-top: -5px;
                        right: 0;
                        fill: $c-lightcyan;
                        @include transition(all 0.3s ease-in-out);
                    }
                }

                .level-2 {
                    padding-left: 25px;
                    margin-top: 0;
                    display: none;
                    z-index: 1;
                }
            }
        }

        .level-0 {
            padding: 0;
            margin-top: 0;
            max-width: 425px;

            & > li > .e-item {
                &:after {
                    content: '';
                    width: 15px;
                    height: 8px;
                    background-size: cover;
                    display: block;
                    @include centre(y);
                    right: 0;
                    @include transition(all 0.3s ease-in-out);
                    transform-origin: 50% 25%;
                }

                &.mob-active {
                    &:after {
                        @include transform(rotate(180deg));
                    }
                }

                .icon {
                    display: none;
                }
            }

            li {
                margin: 0;

                &.multiple {
                    width: 40%;
                    float: left;
                    padding-right: 30px;
                }

                &:before {
                    display: none;
                }

                .e-item {
                    margin-top: 0;
                    padding: 15px 0;
                    padding-right: 30px;
                    border-bottom: 1px solid $c-linegrey;
                    display: block;
                    position: relative;
                    @include font-size(1.6, 2.4);
                    color: $c-navy;
                    font-weight: 500;
                    font-family: $f-title;

                    &.active {
                        h3 {
                            color: $c-lightcyan;
                        }
                    }

                    h3 {
                        @include transition(all 0.3s ease-in-out);
                        display: inline-block;
                        @include font-size(1.6, 2.4);
                        font-weight: 500;
                        margin-top: 0;
                        padding-right: 20px;
                    }

                    .icon {
                        position: absolute;
                        top: 50%;
                        margin-top: -5px;
                        right: 0;
                        fill: $c-lightcyan;
                        @include transition(all 0.3s ease-in-out);
                    }
                }
            }
        }
    }

    @media (min-width: $screen-sm) {
        .m-services-container {
            margin-left: 90px;
        }

        .e-serviceblock {
            padding: 60px 50px;

            &[data-letter] {
                &:before {
                    position: absolute;
                    top: 60px;
                    left: -90px;
                    padding: 0 10px;
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (min-width: $screen-md) {
        padding: 30px 0 400px;

        .m-services-container {
            margin-left: 150px;
        }

        .e-serviceblock {
            padding: 90px 10px;

            &[data-letter] {
                &:before {
                    top: 90px;
                    left: -150px;
                }
            }

            .level-0 {
                max-width: 100%;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    background: $c-white;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 300%;
                }

                & > li > .e-item {
                    z-index: 2;
                    position: relative;

                    &:after {
                        display: none;
                    }

                    .icon {
                        display: inline-block;
                    }
                }

                li {
                    position: relative;

                    &.multiple {
                        width: 40%;
                        float: left;
                        padding-right: 30px;
                    }

                    .e-item {
                        @include font-size(2.1, 3.0);

                        &:hover {
                            color: $c-lightcyan;

                            h3 {
                                color: $c-lightcyan;
                            }
                        }

                        h3 {
                            @include font-size(2.1, 3.0);
                            @include transition(all 0.3s ease-in-out);
                        }
                    }
                }
            }

            .level-1 {
                max-width: 50%;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    background: $c-white;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 300%;
                }

                & > li > .e-item {
                    z-index: 2;
                    position: relative;

                    &:after {
                        display: none;
                    }

                    .icon {
                        display: inline-block;
                    }
                }

                li {
                    position: relative;

                    &.multiple {
                        width: 50%;
                        float: left;
                    }

                    .e-item {
                        @include font-size(2.1, 3.0);

                        &:hover {
                            color: $c-lightcyan;

                            h3 {
                                color: $c-lightcyan;
                            }
                        }

                        h3 {
                            @include font-size(2.1, 3.0);
                            @include transition(all 0.3s ease-in-out);
                        }
                    }

                    .level-2 {
                        position: absolute;
                        top: 0;
                        padding-left: 50px;
                        width: 100%;
                        box-sizing: border-box;
                        display: block;
                        opacity: 0;
                        right: 0;
                        @include transition(all 0.3s ease-in-out);
                        display: block !important;

                        &.active {
                            opacity: 1;
                            right: -100%;
                        }
                    }
                }
            }
        }
    }


    @media (min-width: $screen-lg) {
        padding: 50px 0 400px;
    }
}
