.m-errorbanner {
  padding: 150px 0 50px;
  text-align: center;
  background: $c-softbrown;
  position: relative;
  overflow: hidden;

  &.type-404 {
    @media (min-width: 650px) {
      padding-bottom: 105px;
    }

    @media (min-width: $screen-sm) {
      padding-bottom: 125px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 205px;
    }
  }

  .bmt-mark {
    @include image-cover();
    min-height: 240%;
    stroke: #e4e4e1;
  }

  .e-text {
    position: relative;
    z-index: 1;

    h1, h2 {
      color: $c-textgrey-dark;
      margin: 0;
    }
  }

  @media (min-width: $screen-sm) {
    padding: 170px 0 80px;

    .e-text {
      h1 {
        @include font-size(6.5, 7.3);
      }

      h2 {
        @include font-size(3.0, 3.8);
      }
    }
  }

  @media (min-width: $screen-md) {
    .e-text {
      h1 {
        @include font-size(8.5, 9.3);
      }

      h2 {
        @include font-size(4.0, 4.8);
      }
    }
  }

  @media (min-width: $screen-lg) {
    padding: 300px 0 150px;

    .e-text {
      h1 {
        @include font-size(10.5, 11.3);
      }

      h2 {
        @include font-size(5.0, 5.8);
      }
    }
  }

  @media (min-width: $screen-xl) {
    h1 {
      @include font-size(12.5, 13.3);
    }

    h2 {
      @include font-size(6.0, 6.8);
    }
  }
}
