@import "references/*";
@import "basic/**/*";
@import "structure/*";

body,
header.twenty-eighteen {
  opacity: 1;
}

body {
  transition-delay: 0.5s;
}

header.twenty-eighteen {
  transition-delay: 0.8s;
}
