@import 'references/*';


@media print {
   header, footer, .m-careersbanner, .m-errorbanner, .m-homepagebanner, .m-pagebanner-slim, .m-pagebanner, .m-slimapply, .m-sharecta, .e-back, .btn, .m-5050carousel, .m-newsandevents, .m-globallocations, .m-5050cta, .m-marketsgrid, .m-applicationsgrid, .m-fullwidthcarousel, .m-stickyconnect, .m-imagegrid, .m-locationsmap, .m-filters, .m-pagination, .m-breadcrumb, .m-stickysubnav, .m-7030links, .m-serviceslist, .m-doublecolumngrid, .m-slim6040, .m-jobmap, .m-fullwidthfootercta, .l-newsnav, .m-searchresultstop, .m-searchitems, .m-accordion, .m-4coljoblist {
     display: none!important;
   }

   img {
     max-width: 250px!important;
   }

   .m-projectsgridlist .e-grid .e-item {
     min-height: auto!important;

     .e-image {
       display: none!important;
     }
   }

   .m-teamgrid {
     .e-inner {
       display: none!important;
     }

     .e-modalinfo {
       display: block!important;
       position: static!important;
       margin-bottom: 22px!important;
     }
   }

   .m-locationaccordion {
     .e-view {
       display: none!important;
     }

     .e-more {
       display: block!important;
     }
   }
}
