.m-awardsRecognition {
  padding: 50px 0;

  h2 {
    color: $c-textgrey-dark;
    text-align: center;
    margin: 0 0 40px;
  }

  .awards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px;

    .award {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(50% - 40px);
      max-width: calc(50% - 40px);
    }
  }

  @media (min-width: 600px) {
    .awards-container {
      .award {
        flex-basis: calc(33.33% - 40px);
        max-width: calc(33.33% - 40px);
      }
    }
  }

  @media (min-width: $screen-sm) {
    padding: 80px 0;
  }

  @media (min-width: $screen-md) {
    padding: 100px 0;

    .awards-container {
      margin: -25px;

      .award {
        flex-basis: calc(16.66% - 50px);
        max-width: calc(16.66% - 50px);
        margin: 25px;
      }
    }
  }

  @media (min-width: $screen-xl) {
    .awards-container {
      .award {
        flex-basis: calc(16.66% - 80px);
        max-width: calc(16.66% - 80px);
        margin: 40px;
      }
    }
  }
}
