.m-fullwidthcarousel {
    padding: 50px 0;

    &.black-bg {
        .e-slide-container {
            .e-slide {
                .e-text {
                    background: $c-black;
                }
            }
        }

        @media (min-width: $screen-sm) {
            .e-slide-container {
                .e-slide {
                    .e-text {
                        background: rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }
    }

    .e-intro {
        margin-bottom: 30px;

        h2 {
            margin-top: 0;
        }

        .preamble {
            display: none;
        }
    }

    .e-slide-container {
        line-height: 0;
        overflow: hidden;

        .e-slide {
            width: 100%;
            max-width: 100%;
            margin: 0;
            border: none;

            &.popup:before {
                z-index: 1;
            }

            &.popup:after {
                z-index: 2;
            }

            .e-image {
                img {
                    width: 100%;
                }
            }

            .e-text {
                background: $c-navy;
                padding: 25px;

                .e-inner {
                    h3 {
                        font-weight: 400;
                        margin-top: 0;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 14px;
                    }

                    h3, p {
                        color: $c-white;
                    }

                    .icon {
                        display: block;
                        margin: 15px 0 0;
                        border: 1px solid $c-white;
                        fill: $c-lightcyan;
                        width: 17px;
                        height: 12px;
                        padding: 13px 10.5px;
                    }
                }
            }
        }
    }

    .e-carousel-controls {
        display: block;
        font-size: 0;
        line-height: 0;
        margin-top: 30px;

        .e-counter {
            width: 50px;
            display: inline-block;
            vertical-align: middle;

            span {
                color: $c-softgreytext;
                @include font-size(1.4, 1.4);

                &:first-child {
                    color: $c-lightcyan;
                    font-weight: 600;
                }
            }
        }

        .e-progressbar {
            width: calc(100% - 145px);
            margin: 0 25px;
            display: inline-block;
            vertical-align: middle;
            height: 2px;
            background: $c-softgreytext;
            position: relative;

            span {
                width: 0;
                background: $c-lightcyan;
                height: 4px;
                position: absolute;
                left: 0;
                top: -1px;
                margin-left: 0;
                @include transition(all 0.3s ease-in-out);
            }
        }

        .e-arrows {
            width: 45px;
            display: inline-block;

            .e-right {
                .icon {
                    float: right;
                }
            }

            .e-left, .e-right {
                width: 50%;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                min-height: 25px;

                .icon {
                    fill: $c-lightcyan;
                    width: 14px;
                    height: 12px;
                    margin-top: 6px;
                    @include transition(all 0.3s ease-in-out);
                }
            }

            .e-right {
                width: 50%;
                display: inline-block;

                &.disabled {
                    cursor: default;

                    &:hover {
                        .icon {
                            fill: $c-softgreytext;
                        }
                    }

                    .icon {
                        fill: $c-softgreytext;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-sm) {
        padding: 80px 0;

        .e-intro {
            .preamble {
                display: block;
                max-width: 750px;
            }
        }

        .e-slide-container {
            .e-slide {
                position: relative;
                overflow: hidden;

                .e-text {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                    width: 50%;
                    max-width: 460px;
                    box-sizing: border-box;
                    background: rgba(0, 83, 127, 0.9);
                    display: flex;

                    .e-inner {
                        align-self: center;
                    }
                }
            }
        }

        .e-carousel-controls {
            .e-progressbar {
                width: calc(100% - 295px);
                margin: 0 100px;
            }
        }
    }

    @media (min-width: $screen-md) {
        padding: 100px 0;

        .e-slide-container {
            margin-top: 50px;

            .e-slide {
                &:hover {
                    .e-image {
                        img {
                            @include transform(scale(1.05));
                        }
                    }

                    .e-text {
                        .e-inner {
                            .icon {
                                background: $c-white;
                            }
                        }
                    }
                }

                .e-image {
                    img {
                        @include transition(all 0.3s ease-in-out);
                    }
                }

                .e-text {
                    padding: 0 50px;

                    .e-inner {
                        h3 {
                            @include font-size(2.1, 3.0);
                        }

                        p {
                            max-width: 80%;
                        }

                        .icon {
                            @include transition(all 0.3s ease-in-out);
                            margin-top: 35px;
                        }
                    }
                }
            }
        }

        .e-carousel-controls {
            margin-top: 45px;

            .e-progressbar {
                width: calc(100% - 310px);
            }

            .e-arrows {
                width: 60px;

                .e-right, .e-left {
                    &:hover {
                        .icon {
                            fill: $c-navy;
                        }
                    }

                    .icon {
                        width: 18px;
                        height: 15px;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-lg) {
        .container {
            max-width: 1200px;
        }

        .e-intro {
            max-width: 1200px;
            margin: 0 auto;
            font-size: 0;
            line-height: 0;
            @include clearfix();

            h2 {
                max-width: 30%;
                display: inline-block;
                vertical-align: top;
            }

            .preamble {
                max-width: 65%;
                //margin-left: 100px;
                display: inline-block;
                vertical-align: top;
                margin-top: 0;
                float: right;
            }
        }

        .e-slide-container {
            margin-top: 70px;
        }
    }

    @media (min-width: $screen-xl) {
        padding: 120px 0;

        .e-slide-container {
            margin: 70px -60px 0;
        }

        .e-carousel-controls {
            .e-progressbar {
                width: calc(100% - 430px);
                margin: 0 160px;
            }
        }
    }

    &.m-fullwidthcarousel--inset {
        @include contentBlockInset--white;
    }

    &.m-fullwidthcarousel--cyan {
        background-color: $c-lightcyan;

        h2, h3, h4 {
            color: white;

            &.title-underline {
                &:after {
                    background: white;
                }
            }
        }

        p, ul li, ol li, table {
            color: white;
        }

        .e-slide-container {
            .e-slide {
                .e-text {
                    background: rgba(32,120,161,0.9);
                }
            }
        }

        .e-carousel-controls {

            .e-counter {

                span {
                    color: white;

                    &:first-child {
                        color: white;
                    }
                }
            }

            .e-progressbar {
                background: white;

                span {
                    background: rgba(32,120,161,0.9);
                }
            }

            .e-arrows {

                .e-right {
                    .icon {
                    }
                }

                .e-left, .e-right {

                    .icon {
                        fill: white;
                    }
                }

                .e-right {

                    &.disabled {

                        &:hover {
                            .icon {
                                fill: white;
                            }
                        }

                        .icon {
                            fill: white;
                        }
                    }
                }
            }
        }

        &.m-fullwidthcarousel--inset {
            @include contentBlockInset--cyan;
        }
    }

    &.m-fullwidthcarousel--navy {
        background-color: $c-navy;

        h2, h3, h4 {
            color: white;
        }

        p, ul li, ol li, table {
            color: white;
        }

        &.m-fullwidthcarousel--inset {
            @include contentBlockInset--navy;
        }

        .e-slide-container {
            .e-slide {
                .e-text {
                    background: rgba(32,120,161, 0.9);
                }
            }
        }
    }

    &.m-fullwidthcarousel--light-grey {
        background-color: $c-baige;

        &.m-fullwidthcarousel--inset {
            @include contentBlockInset--light-grey;
        }
    }

    &.m-fullwidthcarousel--grey {
        background: $c-brown;

        h2, h3, h4 {
            color: $c-white;
            /*&.title-underline {
                &:after {
                    background: white;
                }
            }*/
        }

        p, ul li, ol li, table {
            color: $c-darkgreytext;
        }

        .e-slide-container {
            .e-slide {
                .e-text {
                    background: rgba(0, 0, 0, 0.9);
                }
            }
        }

        &.m-fullwidthcarousel--inset {
            @include contentBlockInset--grey;
        }
    }
}
