@import "../../basic/_buttons.scss";

.m-fullwidthfootercta {
    background: $c-baige;

    &.no-image {
        .e-image {
            display: none;
        }

        @media (min-width: $screen-sm) {
            .e-text {
                width: 100%;

                .e-inner {
                    margin: 0;
                }
            }
        }

        @media (min-width: $screen-md) {
            .e-text {
                h2,
                p {
                    max-width: 750px;
                }
            }
        }
    }

    &.background-black {
        background: $c-brown;
    }

    &.background-blue {
        background: $c-lightcyan;
    }

    &.background-blue,
    &.background-black {
        h2,
        p {
            color: $c-white;
        }

        .btn {
            color: $c-white;

            &:hover {
                background: $c-white;
                color: $c-lightcyan;
                border-color: $c-white;

                .icon {
                    fill: $c-lightcyan;
                }
            }

            .icon {
                fill: $c-white;
            }
        }
    }

    .e-image {
        display: none;
    }

    .e-text {
        display: inline-block;
        padding: 40px 0;

        h2 {
            margin-top: 0;
        }

        .btn {
            margin-top: 15px;
        }
    }

    @media (min-width: $screen-sm) {
        .container {
            font-size: 0;
        }

        .e-image {
            display: inline-block;
            width: 30%;
            vertical-align: bottom;

            .e-inner {
                margin-right: 35px;
            }
        }

        .e-text {
            padding: 60px 0;
            width: 70%;
            vertical-align: bottom;

            .e-inner {
                margin-left: 35px;
            }
        }
    }

    @media (min-width: $screen-md) {
        .e-image {
            width: 20%;
        }

        .e-text {
            width: 80%;

            h2,
            p {
                max-width: 580px;
            }

            h2 {
                @include font-size(3.1, 3.9);
            }
        }
    }

    @media (min-width: $screen-lg) {
        .container {
            max-width: 1200px;
            position: relative;
        }

        .e-text {
            padding: 80px 0 100px;

            .btn {
                @include centre(y);
                right: 35px;
            }
        }
    }
}

.m-fullwidthfootercta--brochure {
    @extend .m-fullwidthfootercta;
    position: relative;

    .e-image {
        z-index: 10;
        position: relative;
    }

    @media (min-width: 768px) {
        &:before {
            background-image: url(/images/partials/5050cta/background.png);
            background-size: cover;
            top: 0;
            z-index: 2;
            pointer-events: none;
        }

        .e-text,
        .e-image {
            vertical-align: middle !important;
        }

        .e-image img {
            margin-top: 10%;
            margin-bottom: 10%;
        }
    }

    @media (min-width: 768px) {
        &:before {
            content: '';
            position: absolute;
            width: 50%;
            left: -8px;
            height: 100%;
            top: 0;
        }
    }
}

.m-fullwidthfootercta--white {
    background: white;
    overflow: hidden;

    img {
        box-shadow: 0 4px 10px 0px #dcdcdc;
    }
    /*background-color: $c-lightcyan;

    h2, h3, h4 {
        color: white;

        &.title-underline {
            &:after {
                background: white;
            }
        }
    }

    p {
        color: white;
    }

    &.m-5050text--inset {
        -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.25);
        box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.25);
    }*/
}

.m-fullwidthfootercta--cyan {

    background-color: $c-lightcyan;

    h2, h3, h4, p {
        color: white;
    }

    /*.btn {

        @extend .btn--on-cyan-background;

    }*/

}

.m-fullwidthfootercta--navy {
    background-color: $c-navy;

    h2, h3, h4, p {
        color: white;
    }

    /*.btn {
        @extend btn--on-navy-background;
    }*/
    /*background-color: $c-navy;

    h2, h3, h4 {
        color: white;
    }

    p {
        color: white;
    }

    &.m-5050text--inset {
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    }*/
}

.m-fullwidthfootercta--red {
    background-color: $c-rubinred;

    h2, h3, h4, p {
        color: white; 
    }


    .btn {
        &:hover, &:active{

            border-color:white !important;

        }
    }
    /*background-color: $c-navy;

    h2, h3, h4 {
        color: white;
    }

    p {
        color: white;
    }

    &.m-5050text--inset {
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    }*/
}