.m-globallocations {
  display: none;

  // specific to this block as it's hidden on mobile
  & + .blockpadding {
    padding-top: 30px;
  }

  & + .m-awardsRecognition {
    padding-top: 0;

    @media (min-width: $screen-md) {
      margin-top: -40px;
    }

    @media (min-width: $screen-lg) {
      margin-top: -20px;
    }

    @media (min-width: $screen-xl) {
      margin-top: -0px;
    }
  }

  @media (min-width: $screen-md) {
    position: relative;
    background-image: url("/images/global-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0 0;
    margin-bottom: 120px;
    font-size: 0;
    line-height: 0;
    display: block;

    .container {
      display: flex;
    }

    .e-image {
      position: relative;
      z-index: 2;
      flex: 0 0 45%;
      margin-bottom: -60px;

      .e-image-inner {
        padding-right: 30px;

        img {
          width: 100%;
        }
      }
    }

    .e-text {
      flex: 0 0 55%;
      max-width: 55%; // fix for IE
      position: relative;
      z-index: 2;
      margin: 40px 0 80px;

      .e-text-inner {
        padding-left: 30px;

        *:last-child {
          margin-bottom: 0;
        }

        h2 {
          color: #505551;
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    padding: 100px 0 0;
    margin-bottom: 200px;
    margin-right: calc((100% - 1200px) / 2);

    .container {
      right: calc((1130px - 100%) / 2);
      position: relative;
    }

    .e-image {
      margin-bottom: -100px;

      .e-image-inner {
        padding-right: 60px;
      }
    }

    .e-text {
      .e-text-inner {
        padding-left: 60px;
        margin-right: 100px;
      }
    }
  }

  @media (min-width: $screen-xl) {
    margin-right: calc((100% - 1430px) / 2);

    .container {
      right: calc((1360px - 100%) / 2);
      position: relative;
    }

    .e-image {
      margin-bottom: -170px;
    }

    .e-text {
      margin: 50px 0 100px;

      .e-text-inner {
        margin-right: 150px;
      }
    }
  }
}
