.m-icongrid-base {
    padding: 50px 0;
    @include cutoff();

    &.type-404 {

        .e-grid {
            .e-item {
                margin-top: 0;

                h3 {
                    @include transition(all 0.3s ease-in-out);
                }

                &:hover {
                    h3 {
                        color: $c-lightcyan;
                    }
                }
            }
        }

        @media (min-width: $screen-sm) {
            padding-top: 80px;
        }

        @media (min-width: $screen-lg) {
            .container {
                max-width: 1200px;
            }
        }

        @media (min-width: $screen-xl) {
            .e-grid {
                .e-item {
                    flex: 0 0 24%;
                }
            }
        }
    }

    &.m-icongrid--light-grey {
        background: $c-softgrey;

        .e-grid {

            .e-item {

                &.e-item--contact {

                    .details {
                        display:inline-block;
                        max-width: 420px;
                    }
                }
            }
        }
    }

    &.m-icongrid--dark-grey {
        background: $c-brown;

        $c-bordercolor: rgb(70,70,70);

        .e-title {
            h2 {
                color: $c-white;
            }
        }

        .e-grid {
            .e-item {
                border-bottom: 1px solid $c-bordercolor;

                > svg {
                    color: $c-lightcyan;
                }

                h3 {
                    color: $c-white;
                }

                p {
                    color: #cacccb;
                }

                &.e-item--ascending-numbers {
                    .numbers {
                        color: $c-lightcyan;
                    }
                }
            }
        }

        @media (min-width: 500px) {
            .e-grid {

                .e-item {

                    &:nth-child(odd) {
                        border-right: 1px solid $c-bordercolor;
                    }
                }
            }
        }

        @media (min-width: $screen-md) {


            .e-grid {
                .e-item {
                    border-right: 1px solid $c-bordercolor;

                    &:nth-child(3), &:nth-child(6) {
                        border-right: none;
                    }
                }
            }
        }
    }

    &.m-icongrid--cyan {
        background-color: $c-lightcyan;

        $c-bordercolor: #00C6F0;

        .e-title {
            h2 {
                color: $c-white;
            }
        }

        .e-grid {
            .e-item {
                border-bottom: 1px solid $c-bordercolor;

                > svg {
                    color: $c-white;
                }

                h3 {
                    color: $c-white;
                }

                p {
                    color: $c-white;
                }

                &.e-item--ascending-numbers {
                    .numbers {
                        color: $c-white;
                    }
                }
            }
        }

        @media (min-width: 500px) {
            .e-grid {

                .e-item {

                    &:nth-child(odd) {
                        border-right: 1px solid $c-bordercolor;
                    }
                }
            }
        }

        @media (min-width: $screen-md) {


            .e-grid {
                .e-item {
                    border-right: 1px solid $c-bordercolor;

                    &:nth-child(3), &:nth-child(6) {
                        border-right: none;
                    }
                }
            }
        }
    }

    &.m-icongrid--navy {
        background-color: $c-navy;

        $c-bordercolor: #00669D;

        .e-title {
            h2 {
                color: $c-white;
            }
        }

        .e-grid {
            .e-item {
                border-bottom: 1px solid $c-bordercolor;

                > svg {
                    color: $c-lightcyan;
                }

                h3 {
                    color: $c-white;
                }

                p {
                    color: #cacccb;
                }

                &.e-item--ascending-numbers {
                    .numbers {
                        color: $c-lightcyan;
                    }
                }
            }
        }

        @media (min-width: 500px) {
            .e-grid {

                .e-item {

                    &:nth-child(odd) {
                        border-right: 1px solid $c-bordercolor;
                    }
                }
            }
        }

        @media (min-width: $screen-md) {


            .e-grid {
                .e-item {
                    border-right: 1px solid $c-bordercolor;
                    /*&:nth-child(3), &:nth-child(6) {
                        border-right: none;
                    }*/
                }
            }
        }
    }
    /*&.background-black {
        background: $c-brown;

        .e-title {
            h2 {
                color: $c-white;
            }
        }

        .e-grid {
            .e-item {
                h3 {
                    color: $c-white;
                }

                p {
                    color: $c-white;
                }
            }
        }
    }

    &.background-grey {
        background: $c-softgrey;
    }

    &.background-brown {
        background: $c-softbrown;
    }*/
    .e-title {
        margin-bottom: 40px;

        h2 {
            margin-top: 0;
        }
        /*.btn {
            display: none;
        }*/
    }

    .btn-wrapper {
        display: none;
        text-align: center;
        margin-top: 60px;

        .btn {
            text-align: left;
        }
    }

    .e-grid {
        display: flex;
        flex-wrap: wrap;

        .e-item {
            margin-bottom: 30px;
            padding-bottom: 30px;
            flex: 0 0 100%;
            border-bottom: 1px solid $c-linegrey;
            text-align: center;

            img {
                //max-width: 60px;
                max-height: 60px;
                margin: 0 auto 20px;
            }

            > svg {
                margin-bottom: 20px;
                color: $c-rubinred;
                font-size: 60px;
            }

            h3 {
                margin-top: 0;
                font-weight: 400;
            }

            &:last-child {
                border-bottom: none;
            }

            &.e-item--ascending-numbers {
                justify-content: center;
                display: flex;
                flex-direction: column;
                min-height: 250px;

                .numbers {
                    color: $c-rubinred;
                    font-size: 4.2em;
                    margin-bottom: 20px;
                    line-height: 60px !important;
                    margin-top: 4px;
                    word-break: break-word;
                }
            }

            &.e-item--contact {
                color: $c-darkgreytext;

                img {
                    max-width: 150px;
                    max-height: 150px;
                    margin: 0 auto 20px;
                    border-radius: 50%;
                }

                .title {
                }

                .details {
                    font-size: 1.4rem;
                    margin-top: 25px;
                    text-align: left;
                    //padding: 10px 20px 20px;
                    padding: 6px 14px 15px;
                    background-color: $c-softbrown;

                    > * {
                        display: inline-block;
                        width: auto;
                        margin-top: 10px;
                        position: relative;
                        padding-left: 30px;
                        word-break: break-word;

                        &:before {
                            content: '';
                            background-size: cover;
                            background-repeat: no-repeat;
                            @include centre(y);
                            left: 0;
                            top: 12px;
                        }
                    }

                    .e-location {

                        &:before {
                            background-image: url('/images/svgs/pin-filled.svg');
                            width: 11.5px;
                            height: 17.2px;
                        }
                    }

                    .e-number {
                        //padding-left: 30px;
                        &:before {
                            background-image: url('/images/svgs/phone-filled.svg');
                            width: 14.4px;
                            height: 17.4px;
                        }
                    }

                    .e-email {
                        &:before {
                            background-image: url(/images/svgs/mail-filled.svg);
                            width: 18px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
}

.m-icongrid--3-col {

    @extend .m-icongrid-base;

    @media (min-width: $screen-xs) {
        .e-grid {
            margin: 0 -35px;

            .e-item {
                flex: 0 0 40%;
                flex: 0 0 calc(50% - 71px);
                padding: 35px;
                margin-bottom: 0;

                &:nth-child(odd) {
                    border-right: 1px solid $c-linegrey;
                }
            }
        }
    }

    @media (min-width: $screen-xs) and (max-width: $screen-md) {
        .e-grid {
            // Target last row of the grid
            .e-item:nth-child(2n+1):nth-last-child(-n+2),
            .e-item:nth-child(2n+1):nth-last-child(-n+2) ~ .e-item {
                border-bottom: none;
            }
        }
    }

    @media (min-width: $screen-sm) {
        padding: 80px 0;

        .mobile-btn {
            display: none;
        }

        .e-title {
            @include clearfix();

            h2 {
                //display: inline-block;
                margin-top: 10px;
                display: block;
                text-align: center;
            }
        }

        .btn-wrapper {
            display: block;
        }
    }

    @media (min-width: $screen-md) {
        padding: 100px 0;

        .e-title {
            margin-bottom: 60px;
        }

        .e-grid {
            .e-item {
                flex: 0 0 24%;
                flex: 0 0 calc(33.333% - 102px);
                padding: 50px;
                border-right: 1px solid $c-linegrey;

                &:nth-child(3n) {
                    border-right: none;
                }

                h3 {
                    @include font-size(2.1, 3.9);
                }
            }
            // Target last row of the grid
            .e-item:nth-child(3n+1):nth-last-child(-n+3),
            .e-item:nth-child(3n+1):nth-last-child(-n+3) ~ .e-item {
                border-bottom: none;
            }
        }
    }

    @media (min-width: $screen-lg) {
        padding: 120px 0;
    }

    @media (min-width: $screen-xl) {
        .e-grid {
            .e-item {
                flex: 0 0 26%;
                flex: 0 0 calc(33.333% - 102px);
            }
        }
    }
}

.m-icongrid--2-col {

    @extend .m-icongrid-base;

    @media (min-width: $screen-xs) {
        .e-grid {
            margin: 0 -35px;

            .e-item {
                flex: 0 0 40%;
                flex: 0 0 calc(50% - 71px);
                padding: 35px;
                margin-bottom: 0;

                &:nth-child(odd) {
                    border-right: 1px solid $c-linegrey;
                }
            }
            // Target last row of the grid
            .e-item:nth-child(2n+1):nth-last-child(-n+2),
            .e-item:nth-child(2n+1):nth-last-child(-n+2) ~ .e-item {
                border-bottom: none;
            }

            .e-item {

                &.e-item--contact {

                    .title {
                        min-height: 48px;
                    }

                    .details {
                        margin: 25px auto 0px;
                        //display:inline-block;
                        //min-width: 280px;
                        max-width: 420px;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-sm) {
        padding: 80px 0;

        .mobile-btn {
            display: none;
        }

        .e-title {
            @include clearfix();

            h2 {
                //display: inline-block;
                margin-top: 10px;
                display: block;
                text-align: center;
            }
        }

        .btn-wrapper {
            display: block;
        }
    }

    @media (min-width: $screen-md) {
        padding: 100px 0;

        .e-title {
            margin-bottom: 60px;
        }

        .e-grid {
            .e-item {
                h3 {
                    @include font-size(2.1, 3.9);
                }
            }
        }
    }
    /* @media (min-width: $screen-lg) {
        padding: 120px 0;
    }

    @media (min-width: $screen-xl) {
        .e-grid {
            .e-item {
                flex: 0 0 26%;
                flex: 0 0 calc(33.333% - 102px);
            }
        }
    }*/
}
