@import "_insightsgrid.scss";
@import "../../basic/_buttons.scss";

.m-newsandevents {
  padding: 50px 0;

  .container {
    position: relative;
  }

  .desktop-btn {
    display: none;
  }

  .e-intro {
    @include clearfix();

    .e-title {
      @include grid(12, 5, 5, 4, 4, $padding: true);

      h2 {
        margin-top: 0;
        padding-right: 50px;
      }

      .mobile-nav {
        position: absolute;
        @include centre(y);
        right: 35px;

        &.active {
          span {
            width: 20px;
            height: 3px;

            &:first-child {
              @include transform(rotate(-45deg));
              right: -18px;
            }

            &:nth-child(2) {
              display: none;
            }

            &:last-child {
              @include transform(rotate(45deg));
              left: -10.5px;
            }
          }
        }

        span {
          width: 7px;
          height: 7px;
          background: $c-lightcyan;
          @include border-radius(7px);
          display: inline-block;
          margin-right: 5px;
          position: relative;
          @include transition(transform 0.2s ease-in-out);
        }
      }
    }

    .e-text {
      @include grid(12, 7, 7, 8, 8, $padding: true);
      display: none;

      .e-text-inner {
        @include grid-margin(1);

        *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .e-tabs {
    margin: 0 -35px;
    padding: 30px 0 0;
    display: none;
    position: absolute;
    top: 0;
    left: 35px;
    width: 100%;
    background: $c-white;
    z-index: 2;

    li {
      display: block;
      margin: 0;

      &:first-child {
        a {
          border-top: 1px solid $c-linegrey;
          padding-top: 15px;
        }
      }

      &:last-child {
        a {
          margin-bottom: 0;
        }
      }

      &:before {
        display: none;
      }

      a {
        margin: 0;
        display: block;
        padding: 15px 50px 15px 35px;
        margin: 0;
        border-bottom: 1px solid $c-linegrey;
        position: relative;
        font-weight: 600;

        &:after {
          content: '';
          background-repeat: no-repeat;
          background-image: url('/images/svgs/buttonarrow-lightblue.svg');
          height: 12px;
          width: 15px;
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
          right: 35px;
          @include centre(y);
          @include transition(all 0.3s ease-in-out);
        }

        &.active {
          color: $c-navy;
        }
      }
    }
  }

  .e-grid {
    margin-top: 40px;
    display: none;

        a.btn {
            margin-top:40px;
            clear: left;
        }

    &:first-of-type {
      display: block;
    }

    .m-insightsgrid {
      padding: 0;
      max-width: 1200px;
    }

    .e-featured {
      .e-content {
        background: $c-brown;

        h3 {
          color: $c-white;
        }

        .smalltitle {
          color: $c-lightcyan;
        }
      }
    }

    .e-item-container {
      .e-item {
        box-shadow: 0 0px 10px 0px $c-linegrey;
      }
    }

    .e-featured,
    .e-item-container .e-item {
      font-size: 0;
      line-height: 0;
      margin-bottom: 12px;
      margin-top: 0;
      border: none;
      width: 100%;

      .e-inner {
        display: flex;
        flex-wrap: wrap;

        .e-image {
          flex: 0 0 130px;
          position: relative;
          overflow: hidden;
          display: none;

          img {
            width: 100%;
          }
        }

        .e-content {
          padding: 15px 20px;
          width: 100%;

          h3 {
            margin-top: 0;
            font-weight: 500;
          }

          p {
            display: none;
            margin-top: 15px;
          }

          .smalltitle {
            font-weight: 600;
            text-transform: uppercase;
            @include font-size(1.2, 1.4);
            margin-top: 8px;
            display: block;
          }
        }
      }
    }
  }

    &.m-newsandevents--inset {

        @include contentBlockInset;
    }

    &.m-newsandevents--narrow {

        .container {
            max-width: 1200px;
        }
    }

    &.m-newsandevents--navy {
        background-color: rgb(0,85,129);

        .e-intro {

            .e-title {

                h2 {
                    color: white;
                }
            }

            .e-text {

                .e-text-inner {

                    p.preamble {
                        color: white;
                    }
                }
            }
        }

        .e-grid {

            a.btn {
                color: white;
            }

            .e-featured {
                background-color: #2078a1;

                .e-content {
                    background-color: #2078a1;

                    h3 {
                        color: $c-white;
                    }

                    .smalltitle {
                        color: $c-lightcyan;
                    }

                    p {
                        color: white;
                    }
                }
            }

            .e-featured, .e-item-container .e-item {

                .e-inner {

                    .e-content {


                        h3 {
                            color: $c-white;
                        }

                        p {
                            color: white;
                        }

                        p.smalltitle {
                            color: $c-lightcyan;
                        }
                    }
                }
            }
        }

        .m-insightsgrid {

            @extend .m-insightsgrid--navy;
        }

        @media (max-width: $screen-sm) {

            .e-grid {

                .e-featured, .e-item-container .e-item {
                    background-color: #2078a1;
                    box-shadow: none;
                }
            }
        }
    }

    &.m-newsandevents--cyan {
        background-color: $c-lightcyan;

        .e-intro {

            .e-title {

                h2 {
                    color: white;
                }
            }

            .e-text {

                .e-text-inner {

                    p.preamble {
                        color: white;
                    }
                }
            }
        }

        .e-grid {

            a.btn {
                //color: white;
                @extend .btn--on-cyan-background;
            }

            .e-featured {
                background-color: #2078a1;

                .e-content {
                    background-color: #2078a1;

                    h3 {
                        color: $c-white;
                    }

                    .smalltitle {
                        color: $c-BMT-290C;
                    }

                    p {
                        color: white;
                    }
                }
            }

            .e-featured, .e-item-container .e-item {

                .e-inner {

                    .e-content {


                        h3 {
                            color: $c-white;
                        }

                        p {
                            color: white;
                        }

                        p.smalltitle {
                            color: $c-BMT-290C;
                        }
                    }
                }
            }
        }

        .m-insightsgrid {

            @extend .m-insightsgrid--cyan;
        }

        @media (max-width: $screen-sm) {

            .e-grid {

                .e-featured, .e-item-container .e-item {
                    background-color: #2078a1;
                    box-shadow: none;
                }
            }
        }
    }

    @media (min-width: 370px) {
        .e-grid {
            .e-featured, .e-item-container .e-item {
                .e-inner {
                    .e-image {
                        display: block;

                        img {
                        }
                    }

          .e-content {
            flex: 0 0 60%;
            flex: 0 0 calc(100% - 170px);
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    padding: 80px 0;

    .desktop-btn {
      display: inline-block;
    }

    .mobile-btn {
      display: none;
    }

    .e-intro {
      .e-title {
        .mobile-nav {
          display: none;
        }

        h2 {
          padding-right: 0;
        }
      }

      .e-text {
        display: inline-block;

        p {
          margin-top: 0;
        }
      }
    }

    .e-tabs {
      margin: 60px 0 0;
      display: block !important;
      background: none;
      position: static;
      border-bottom: 1px solid $c-linegrey;
      font-size: 0;
      line-height: 0;
      padding: 0;

      li {
        display: inline-block;

        &:first-child {
          a {
            border-top: none;
            border-bottom: 2px solid transparent;
            padding-top: 30px;
          }
        }

        a {
          display: inline-block;
          border-bottom: 2px solid transparent;
          padding: 30px 45px;
          margin-bottom: 0;
          font-weight: 500;

          &.active,
          &:hover {
            border-bottom: 2px solid $c-lightcyan;
            background: none;
            color: $c-navy;
          }

          &:after {
            display: none;
          }
        }
      }
    }

    .e-grid {
      .e-featured {
        margin-bottom: 40px;

        .e-inner {
          .e-image {
            flex: 0 0 calc(50% - 20px);
          }

          .e-content {
            flex: 0 0 calc(50% - 60px);
            padding: 35px 40px;

            p {
              display: block;
              color: $c-softgreytext;
            }

            .smalltitle {
              color: $c-lightcyan;
            }
          }
        }
      }

      .e-item-container {
        display: flex;
        flex-wrap: wrap;
        line-height: 0;
        font-size: 0;
        margin: 0 -20px;

        .e-item {
          flex: 0 0 50%;
          box-shadow: none;
          margin-bottom: 40px;

          .e-inner {
            margin: 0 20px;

            .e-image {
              flex: 0 0 100%;
            }

            .e-content {
              flex: 0 0 100%;
              padding: 20px 0 0;

              p {
                display: block;
                @include font-size(1.6, 2.4);
              }

              .smalltitle {
                color: $c-lightcyan;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    padding: 100px 0;

    .e-tabs {
      margin-top: 60px;
    }

    .e-grid {
      .e-featured,
      .e-item {
        &:hover {
          .e-inner {
            .e-image {
              img {
                @include transform(scale(1.05));
              }
            }
          }
        }
      }

      .e-featured,
      .e-item {
        .e-inner {
          .e-image {
            img {
              @include transition(all 0.3s ease-in-out);
            }
          }
        }
      }

      .e-featured {
        .e-inner {
          .e-image {
            img {
              max-width: none;
              width: auto;
              height: 100%;
              //position: absolute;
              min-width: 100%;
            }
          }
        }
      }

      .e-item-container {
        .e-item {
          .e-inner {
            .e-content {
              h3 {
                @include font-size(2.1, 2.9);
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    .e-tabs {
      li {
        a {
          @include font-size(1.8, 2.6);
        }
      }
    }

    .e-grid {
      flex-wrap: wrap;

      &:first-of-type {
        display: flex;
      }

      .e-featured {
        flex: 0 0 40%;
        margin-right: 40px;
        background: $c-brown;

        .e-inner {
          .e-image {
            flex: 0 0 100%;

                        img {
                            position: static;
                            max-width: 100%;
                            min-width: unset;
                            height: auto;
                            width: 100%;
                        }
                    }

          .e-content {
            flex: 0 0 auto;
            box-sizing: border-box;

            p {
              @include font-size(1.8, 2.6);
            }
          }
        }
      }

      .e-item-container {
        flex: 0 0 60%;
      }
    }
  }

  @media (min-width: $screen-xl) {
    padding: 120px 0;

    .e-tabs {
      margin-top: 80px;
    }

    .e-grid {
      margin-top: 60px;

      .e-featured {
        margin-right: 60px;
        flex: 0 0 40%;

        .e-inner {
          .e-content {
            padding: 45px 50px;
          }
        }
      }

      .e-item-container {
        margin: 0 -30px;

        .e-item {
          .e-inner {
            margin: 0 30px;
          }
        }
      }
    }
  }
}
