.m-newsgrid {
  position: relative;
  padding: 50px 0;
  background: $c-softgrey;

  .e-intro {
    margin-bottom: 40px;

    h2 {
      margin-top: 0;
    }

    .preamble {
      display: none;
    }
  }

  .grid-item {
    display: inline-block;
    margin: 0 0 30px 0;
    overflow: hidden;
    background: $c-white;
    border: solid 2px #ebebeb;
    width: 100%;
    box-sizing: border-box;

    .e-image {
      overflow: hidden;
      min-height: 301px;
      position: relative;

      & + .e-text {
        padding-top: 30px;
      }

      img {
        @include image-cover;
      }
    }

    .e-text {
      padding: 45px 35px 30px;
      box-sizing: border-box;

      h3 {
        margin-top: 5px;
        @include font-size(2.1, 3.7);

        & + p {
          margin-top: 7px;
        }
      }

      .date {
        color: $c-magenta;
        margin: 0;
      }
    }

    &.twitter,
    &.facebook {
      position: relative;
      padding: 35px;

      .date {
        float: right;
        margin-top: 10px;
      }

      p,
      a {
        color: $c-white;
      }

      p:not(.date) {
        @include font-size(1.9, 3.5);
      }

      a {
        &:hover {
          border-bottom-color: $c-white;
        }
      }
    }

    &.twitter {
      background: #00abf1;

      svg {
        width: 37px;
        height: 30px;
        fill: $c-white;
      }
    }

    &.facebook {
      background: #4267b2;

      svg {
        width: 43px;
        height: 43px;
        fill: $c-white;
      }
    }
  }

  @media (min-width: $screen-sm) {
    padding: 80px 0;

    .e-intro {
      margin-bottom: 60px;

      .preamble {
        display: block;
        max-width: 750px;
      }
    }

    .grid-item {
      .e-image {
        min-height: 380.5px;

        & + .e-text {
          padding-top: 40px;
        }
      }

      .e-text {
        padding: 55px 45px 40px;
      }

      &.facebook,
      &.twitter {
        padding: 45px;

        p:not(.date) {
          @include font-size(2.1, 3.7);
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    padding: 100px 0;

    .e-intro {
      margin-bottom: 80px;
    }

    .e-grid {
      margin: -24.25px;
      @include clearfix();
    }

    .grid-item {
      margin: 24.25px;
      box-sizing: border-box;

      img,
      h3 {
        @include transition(all 0.3s ease-in-out);
      }

      &:hover {
        h3 {
          color: $c-lightcyan;
        }

        img {
          transform: translate(-50%, -50%) scale(1.05);
          -ms-transform: translate(-50%, -50%) scale(1.05);
          -webkit-transform: translate(-50%, -50%) scale(1.05);
        }
      }

      &.pull-left {
        float: left;
      }

      &.pull-right {
        float: right;
      }

      &.small {
        height: 380.5px;
        width: calc(50% - 48.5px);
      }

      &.long {
        height: 815px;
        width: calc(50% - 48.5px);
      }

      &.wide {
        height: 380.5px;
        width: calc(100% - 48.5px);

        .e-image {
          width: calc(50% - 30px);
          float: left;
          & + .e-text {
            padding-top: 55px;
          }
        }

        .e-text {
          float: right;
          width: calc(50% + 25px);
          padding-left: 60px;
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    .e-intro {
      @include clearfix();
      max-width: 1200px;
      margin: 0 auto 80px;
      font-size: 0;
      line-height: 0;

      h2 {
        max-width: 30%;
        display: inline-block;
        vertical-align: top;
      }

      .preamble {
        width: 100%;
        max-width: 70%;
        margin-left: 100px;
        margin-top: 0;
        vertical-align: top;
        float: right;
      }
    }
  }

  @media (min-width: $screen-xl) {
    overflow: hidden;
    position: relative;
    padding: 120px 0;

    .e-intro {
      margin-bottom: 100px;
    }

    .e-grid {
      display: block;
      position: relative;
      overflow: hidden;
      margin-bottom: -431px;
    }

    .grid-item {
      &.small {
        height: 380.5px;
        width: calc(33.33% - 48.5px);
      }

      &.long {
        height: 815px;
        width: calc(33.33% - 48.5px);
      }

      &.wide {
        height: 380.5px;
        width: calc(66.66% - 48.5px);
      }

      &.raise {
        top: -431px;
        position: relative;
      }
    }
  }
}
