.m-projectsgridlist {
  padding: 50px 0;
  background: $c-baige;
  position: relative;
  @include cutoff();

  &.background-white {
    background: $c-white;
  }

  .e-top {
    h2 {
      margin-top: 0;
    }

    .e-controls {
      display: none;
    }
  }

  .e-grid {
    z-index: 1;
    position: relative;
    margin-top: 40px;

    .e-item {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      .e-image {
        position: relative;
        overflow: hidden;
        height: 160px;

        img {
          @include image-cover();
        }
      }

      .e-text {
        padding: 20px 15px;

        h3 {
          font-weight: 500;
          margin-top: 0;
        }

        p:first-of-type {
          margin-top: 10px;
        }
      }
    }
  }

  @media (min-width: 450px) {
    .e-grid {
      .e-item {
        .e-image {
          height: 300px;
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    padding: 80px 0;

    .e-grid {
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;

      .e-item {
        display: flex;
        border-bottom: 1px solid $c-linegrey;
        margin: 0;
        min-height: 350px;
        width: 100%;

        &:first-child {
          border-top: 1px solid $c-linegrey;
        }

        &:last-child {
          border-bottom: none;
        }

        .e-image {
          flex: 0 0 350px;
          height: auto;
        }

        .e-text {
          padding: 80px 60px;
          align-self: center;
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    padding: 100px 0;

    &.grid-view {
      .e-top {
        .e-controls {
          .grid {
            .icon {
              fill: $c-lightcyan;
            }
          }

          .list {
            .icon {
              fill: $c-softgreytext;
            }
          }
        }
      }

      .e-grid {
        margin: 80px -25px 0;
        opacity: 1;

        .e-item {
          flex-wrap: wrap;
          flex: 0 0 25%;
          flex: 0 0 calc(33.333% - 50px);
          border: none;
          margin: 0 25px 50px;
          background: $c-white;
          box-shadow: 0 4px 10px 0px $c-linegrey;

          .e-image {
            flex: 0 0 100%;
            height: 285px;
          }

          .e-text {
            padding: 30px 30px 45px;
            align-self: flex-start;
            height: 100%;

            p {
              @include font-size(1.4, 2.4);
            }
          }
        }
      }
    }

    .container {
      max-width: 1200px;
    }

    .e-top {
      position: relative;

      .e-controls {
        display: block;
        @include centre(y);
        right: 0;
        font-size: 0;
        line-height: 0;

        .list,
        .grid {
          display: inline-block;
          width: 50px;
          height: 50px;
          border: 1px solid $c-linegrey;
          background: $c-white;
          position: relative;
          cursor: pointer;

          &:hover {
            .icon {
              fill: $c-lightcyan;
            }
          }

          .icon {
            fill: $c-softgreytext;
            @include centre(both);
            @include transition(all 0.3s ease-in-out);
          }
        }

        .list {
          border-right: none;

          .icon {
            fill: $c-lightcyan;
          }
        }
      }
    }

    .e-grid {
      margin-top: 80px;

      .e-item {
        min-height: 375px;

        .e-image {
          flex: 0 0 375px;
        }

        .e-text {
          padding: 100px 80px;

          p {
            @include font-size(1.8, 2.6);
          }
        }
      }
    }
  }

  @media (min-width: $screen-xl) {
    padding: 125px 0;

    &.grid-view {
      .container {
        max-width: 1430px;
      }
    }

    .e-grid {
      margin-top: 80px;
    }
  }
}
