section.generic.section-heading {

    .generic-heading {
        margin-bottom: 0px !important;

        .generic-heading__heading {
            font-size: 3rem;
            flex: 0 0 100%;
        }
    }

    @media (min-width: $screen-sm) {
        padding: 60px 0;
    }

    @media (min-width: $screen-md) {
        padding: 80px 0;

        .generic-heading {


            .generic-heading__heading {
                font-size: 3.5rem;
            }
        }
    }

    @media (min-width: $screen-lg) {
        padding: 80px 0;
    }

    @media (min-width: $screen-xl) {
        padding: 80px 0;

        .generic-heading {


            .generic-heading__heading {
                font-size: 4rem;
            }
        }
    }
}
