.m-testimonial {
  padding: 50px 0;
  position: relative;

  blockquote {
    color: $c-text;
    font-weight: 300;
    border: none;
    padding: 0;
    margin: 40px 0 0;

    img {
      margin-bottom: 20px;
    }

    p {
      margin-top: 0;

      & + p {
        margin-top: 15px;
      }
    }
  }

  .e-quoted {
    h2 {
      margin-top: 15px;
    }

    p {
      color: $c-lightcyan;
      margin-top: 10px;
      font-weight: 400;
    }
  }

  @media (min-width: $screen-sm) {
    padding: 80px 0;
    @include clearfix();

    blockquote {
      width: 40%;
      margin-top: 0px;
      display: inline-block;
      float: left;
    }

    .e-quoted {
      width: 50%;
      display: inline-block;
      float: right;
    }
  }

  @media (min-width: $screen-md) {
    padding: 100px 0;

    blockquote {
      width: calc(100% - 470px);
    }

    .e-quoted {
      width: 350px;

    }
  }

  @media (min-width: $screen-lg) {
    .container {
      max-width: 1200px;
    }
  }

  @media (min-width: $screen-xl) {
    padding: 120px 0;
  }
}
