@use "../references/variables" as *;
@use "../references/mixins" as *;

.text {
  position: absolute;
  top: 50px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  h2,
  p {
    text-align: center;
    color: $white;
  }
}

.testBlock {
  margin-top: 40vw;
  margin-bottom: 100vw;
  padding-left: 8vw;
  position: relative;

  @include maxWidth(smallDesktop) {
    overflow: hidden;
  }

  .itemContainer {
    display: flex;
    position: relative;
    z-index: 2;
    transition: transform 0.5s ease-out;

    @include maxWidth(smallDesktop) {
      transform: none !important;
      overflow: scroll;
    }

    .item {
      padding-right: 20px;
      flex-shrink: 0;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      perspective: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.hoverMain,
      &.hoverAfterOne,
      &.hoverAfterTwo,
      &.hoverPreviousOne,
      &.hoverPreviousTwo {
        img {
          transition: all 0.4s ease;
          opacity: 1;
        }
      }

      &.hoverMain {
        img {
          transform: scale(1.15);
        }
      }

      &.hoverAfterOne {
        img {
          transform: scale(1.09) rotateY(1deg);
        }
      }

      &.hoverPreviousOne {
        img {
          transform: scale(1.09) rotateY(-1deg);
        }
      }

      &.hoverAfterTwo {
        img {
          transform: scale(1.02) rotateY(1deg);
        }
      }

      &.hoverPreviousTwo {
        img {
          transform: scale(1.02) rotateY(-1deg);
        }
      }

      img {
        transition: all 1s ease;
        transform-origin: 50% 50%;
        opacity: 0.5;
      }
    }
  }
}
