.text-n-icon {
    border: 1px solid #ebebeb;
    display: inline-block;
    position: relative;
    padding: 11px 50px 10px 13px;
    font-size: 1.6rem;
    line-height: normal;
    color: #69757c;
    @include transition(all 0.3s ease-in-out);

    > div {
    }

    > svg {
        position: absolute;
        right: 13px;
        top: 50%;
        width: 17px;
        height: 12px;
        fill: $c-lightcyan;
        transform: translateY(-6px);
        @include transition(all 0.3s ease-in-out);
    }
}

.text-n-icon--hover {
    background-color: $c-navy;
    border-color: $c-navy;
    color: white;

    > svg {
        fill: $c-white;
    }
}
