.m-backgroundimg {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0;

  &.active {
    z-index: 1;
    opacity: 1;
  }

  img {
    position: relative;
    z-index: 1;
    height: 100vh;
    max-width: none;
  }
}
