.m-revealimage {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 100vh;

  picture,
  video {
    height: 200%;
    position: relative;
    top: -120%;
    @include transition(all 0s ease-in-out);
    display: block;

    img {
      max-width: none;
      height: 100%;
    }
  }
}
