.m-videoblock {
  max-width: 100%;
  z-index: 2;
  position: relative;
  height: 100vh;
  overflow: hidden;

  video {
    height: 120vh;
    margin-top: -20vh;
    position: relative;
    @include transition(all 0s ease-in-out);
  }

  .e-text {
    @include centre(both);

    h1,
    p {
      color: $c-white;
      text-align: center;
      text-shadow: 0 0 20px #000;
    }

    h1 {
      @include font-size(7, 8);
    }

    p {
      @include font-size(2.4, 3);
    }
  }
}
