&-infoblock {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 3;
  padding: 50px 0;
  margin-top: 100vh;

  .e-text {
    margin-bottom: 25px;

    h2, p {
      color: $c-white;
    }
  }

  .e-video {
    width: 100%;

    iframe {
      width: 100%;
      height: 200px;
      margin-bottom: 25px;
    }
  }

  @media (min-width: $screen-xs) {
    .e-video {
      iframe {
        height: 400px;
      }
    }
  }

  @media (min-width: $screen-sm) {
    padding: 100px 0;

    &.flip {
      .e-text {
        float: right;
      }

      .e-video {
        float: left;
      }
    }

    .e-text {
      float: left;
    }

    .e-video {
      float: right;
    }
  }

  @media (min-width: $screen-lg) {

    .e-text {
      max-width: 600px;
    }

    .e-video {
      max-width: 600px;

      iframe {
        margin-bottom: 50px;
      }
    }
  }
}
