&-videoblock {
  max-width: 100%;
  z-index: 2;
  position: relative;
  height: 100vh;
  overflow: hidden;

  video {
    height: 120vh;
    margin-top: -20vh;
    position: relative;
    @include transition(all 0s ease-in-out);
  }

  .e-text {
    @include centre(both);

    h1, p {
      color: $c-white;
      text-align: center;
    }
  }
}
