@use "../tools/media";

@mixin blockquote {
  font-size: 1.9rem;
  font-family: var(--font-body);
  line-height: 1.7;
  font-weight: 400;
  position: relative;
  margin: 32px 0;
  padding: 0 37px;
  display: block;

  @include media.minWidth(tablet) {
    font-size: calc(2.2rem * 0.8);
    padding: 0 49px;
  }

  @include media.minWidth(desktop) {
    @include media.minHeight(null, 800px) {
      font-size: 2.2rem;
    }
  }

  &:before,
  &:after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("/images/icons/quote.svg");
  }

  &:before {
    margin-bottom: 15px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    right: 0px;
    transform: rotate3d(0, 1, 0, 180deg);
  }

  & + .cite,
  & + cite {
    margin-top: -16px;
    margin-bottom: 32px;
    padding: 0 37px;
    font-size: 1.4rem;

    @include media.minWidth(tablet) {
      font-size: calc(1.6rem * 0.9);
      padding: 0 49px;
    }

    @include media.minWidth(desktop) {
      @include media.minHeight(null, 800px) {
        font-size: 1.6rem;
      }
    }
  }
}
