@use "../tools/media";

@mixin checkbox {
  min-height: 30px;
  margin-bottom: 17px;

  @include media.minWidth(smallDesktop) {
    margin-bottom: 28px;
  }

  input {
    position: absolute !important;
    left: -99999999999px !important;
    height: 0 !important;

    &:focus-visible {
      & + label {
        &:before {
          outline: 1px solid var(--colour-black);
          outline-offset: 1px;
        }
      }
    }
  }

  input:checked {
    & + label {
      border: none;

      &:before {
        background-color: blue;;
      }
    }
  }

  label {
    font-size: 1.5rem;
    display: flex;
    color: var(--colour-black);
    position: relative;
    font-weight: normal;
    cursor: pointer;
    padding-left: 38px;

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: -2px;
      border: 1px solid var(--colour-black);
      background-color: var(--colour-white);
      background-size: 13px 10px;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.2s ease;
    }

    &:hover {
      &:before {
        border-color: var(--colour-black);
      }
    }
  }
}
