@use "../tools/media";
@use "../tools/focus";

@mixin input {
  @include focus.focus(var(--colour-black));
  moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--colour-black);
  padding: 12px;
  border: solid 1px var(--colour-border);
  min-height: 50px;
  background-color: var(--colour-white);
  text-align: left;
  border-radius: 0px;
  margin: 0;

  @include media.minWidth(smallDesktop) {
    font-size: 1.6rem;
  }

  &[type="date"] {
    // background-image: url("/images/icons/dateIcon.svg");
    background-position: right 17px top 47%;
    background-repeat: no-repeat;
  }

  &[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &:disabled {
    opacity: 0.5;
  }

  &::-ms-expand {
    display: none;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}
