@use "../tools/media";

@mixin paragraphShared {
  margin: 0 0 20px;
  font-family: var(--font-body);
  color: var(--colour-black);
}

@mixin paragraphSmall {
  @include paragraphShared;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;

  @include media.minWidth(tablet) {
    font-size: calc(1.6rem * 0.9);
  }

  @include media.minWidth(desktop) {
    @include media.minHeight(null, 800px) {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
}

@mixin paragraphRegular {
  @include paragraphShared;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;

  @include media.minWidth(tablet) {
    font-size: calc(1.9rem * 0.9);
    line-height: 1.7;
  }

  @include media.minWidth(desktop) {
    @include media.minHeight(null, 800px) {
      font-size: 1.9rem;
    }
  }
}

@mixin paragraphLarge {
  @include paragraphShared;
  font-size: 1.9rem;
  line-height: 1.7;
  font-weight: 300;

  @include media.minWidth(tablet) {
    font-size: calc(2.2rem * 0.9);
  }

  @include media.minWidth(desktop) {
    @include media.minHeight(null, 800px) {
      font-size: 2.2rem;
      line-height: 1.8;
    }
  }
}
