@use "../tools/media";
@use "../tools/focus";

@mixin anchor($color: var(--colour-anchor)) {
  @include focus.focus($color);
  font-size: 1.6rem;
  color: $color;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-body);
  text-decoration-line: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.2s ease;

  @include media.minWidth(tablet) {
    font-size: calc(1.9rem * 0.9);
  }

  @include media.minWidth(desktop) {
    @include media.minHeight(null, 800px) {
      font-size: 1.9rem;
    }
  }

  &:hover {
    text-decoration-color: inherit;
  }
}

@mixin ctaLink {
  @include focus.focus(var(--colour-cyan));
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colour-cyan);
  text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.2s ease;
  font-family: var(--font-body);

  @include media.minWidth(tablet) {
    font-size: 1.6rem;
  }

  &:after {
    content: "";
    background-image: url("/images/icons/arrowRight-Cyan.svg");
    background-size: cover;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin-left: 8px;
    flex-shrink: 0;
    position: relative;
    top: 3px;

    @include media.minWidth(tablet) {
      top: 5px;
    }
  }

  &:hover {
    text-decoration-color: inherit;
  }
}
