@use "../tools/media";
@use "../tools/focus";

@mixin buttonShared {
  @include focus.focus(var(--colour-cyan));
  font-size: 1.6rem;
  border: 0;
  width: auto;
  max-width: 100%;
  font-weight: bold;
  padding: 13.5px 20px 13.5px 20px;
  margin: 32px 0 0;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: background 0.2s ease, color 0.2s ease;
  border: 1px solid var(--colour-cyan);

  &.disabled,
  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
}

@mixin buttonPrimary {
  @include buttonShared;
  color: var(--colour-white);
  background-color: var(--colour-cyan);

  &:hover {
    background-color: var(--colour-cyanHover);
  }
}

@mixin buttonSecondary {
  @include buttonShared;

  color: var(--colour-cyan);
  background-color: transparent;

  &:hover {
    background-color: var(--colour-cyan);
    color: var(--colour-white);
  }
}

@mixin buttonSecondaryWhite {
  @include buttonShared;

  @include focus.focus(var(--colour-white));
  color: var(--colour-white);
  border-color: var(--colour-white);
  background-color: transparent;

  &:hover {
    background-color: var(--colour-white);
    color: var(--colour-cyan);
  }
}
