@use "../tools/media";

@mixin textarea {
  @include tools.focus(var(--colour-black));
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--colour-black);
  padding: 12px;
  border: solid 1px var(--colour-black);
  width: 100%;
  display: block;
  outline: none;
  max-width: 100%;
  min-height: 50px;
  max-height: 230px;
  margin-bottom: 17px;

  @include media.minWidth(smallTablet) {
    min-height: 170px;
    max-height: 350px;
  }

  @include media.minWidth(smallDesktop) {
    font-size: 1.6rem;
    margin-bottom: 28px;
    max-height: 500px;
  }

  &:disabled {
    opacity: 0.6;
  }
}
