@use '../references/variables' as *;
@use '../references/mixins' as *;

header {
  padding: 30px 0;

  a {
    display: inline-block;
    text-decoration: none;
  }

  .logo {
    fill: $white;
    max-width: 170px;
  }
}
