.scrollmagic-pin-spacer {
    @media (min-width: $screen-lg) {
        .m-stickysubnav {
            top: -42.5px !important;
            margin-bottom: -42.5px !important;
        }
    }
}

.m-stickysubnav--smart {

    @extend .m-stickysubnav;

    .e-connect {
        text-align: center;

        > div {
            display: inline-block;
            position: relative;
            padding-left: 40px;
            left: -10px;

            > .fa-sign-in-alt {
                font-size: 27px;
                position: absolute;
                left: 0px;
                top: 3px;
            }
        }
    }
}

.m-stickysubnav--solutions {

    .fa-sign-in-alt {
        margin-right: 10px;
    }

    @media (min-width: $screen-md) {
        .fa-sign-in-alt {
            font-size: 28px;
        }
    }
}

.m-stickysubnav {

    &.careers-variation {
        .e-inner {
            .e-connect {
                width: 100%;
                @include font-size(1.6, 2.4);

                .icon {
                    margin-right: 10px;
                    width: 24px;
                    height: 31px;
                }
            }
        }

        @media (min-width: $screen-md) {
            .e-inner {
                .e-connect {
                    min-width: 260px;
                    margin-top: -43px;
                }
            }
        }
    }

    .container {
        position: relative;
        @include clearfix();
    }

    .e-inner {
        position: relative;
        line-height: 0;
        font-size: 0;

        .e-connect, .e-subnav {
            color: $c-white;
            @include font-size(1.4, 2.2);
            font-weight: 500;
            padding: 27px 10px;
            margin: 0;
            background: $c-lightcyan;
            width: auto;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            z-index: 2;
            width: 50%;
            vertical-align: top;
            @include transition(background 0.3s ease-in-out);

            .icon {
                width: 15px;
                height: 15px;
                vertical-align: middle;
                margin-right: 5px;
                fill: $c-white;
                margin-top: -2px;
            }
        }

        .e-connect {
            float: right;

            &:hover {
                background: #029ebf;
            }
        }

        .e-connect.m-emergency {
            background: $c-rubinred;

            &:hover {
                background: #ff3d91;
            }
        }

        .e-subnav {
            padding: 27.5px 10px;
            background: $c-navy;
            border: none;
            box-sizing: border-box;

            &:hover {
                background: #026ea6;
            }

            &.active {
                .e-navtrigger {
                    margin-top: -4px;

                    span:nth-child(1) {
                        opacity: 0;
                    }

                    span:nth-child(2) {
                        @include rotate(45deg);
                    }

                    span:nth-child(3) {
                        @include rotate(-45deg);
                    }

                    span:nth-child(4) {
                        opacity: 0;
                    }
                }
            }

            .e-navtrigger {
                width: 15px;
                height: 10px;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                margin-top: -2px;

                span {
                    @include transition(all .2s ease-in-out);
                    @include transform-origin(center);
                    @include border-radius(2px);
                    width: 100%;
                    height: 2px;
                    background: $c-hamburger;
                    position: absolute;
                    margin-left: -8px;
                }

                span:nth-child(1) {
                    top: 0;
                }

                span:nth-child(2), span:nth-child(3) {
                    @include centre(y);
                }

                span:nth-child(4) {
                    bottom: 0;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        nav {
            position: absolute;
            top: 77px;
            left: 0;
            width: 100%;
            background: $c-white;
            box-sizing: border-box;
            padding: 20px 20px 40px;
            box-shadow: 0 0 10px 0 $c-black;
            z-index: 1;
            box-shadow: 0 0 10px 0px #00000047;
            display: none;

            h3 {
                margin: 0 0 10px;
                font-weight: 500;
                color: $c-navy;
                @include font-size(1.6, 2.4);
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    margin: 0;

                    &:before {
                        display: none;
                    }

                    &.active {
                        a {
                            color: $c-navy;

                            &:hover {
                                color: $c-navy;
                            }
                        }
                    }

                    a {
                        margin: 0;
                        @include font-size(1.4, 2.2);
                        padding: 10px 0;
                        border-bottom: 1px solid $c-linegrey;
                        display: block;
                        color: $c-text;
                        font-weight: 600;

                        &:hover {
                            color: $c-lightcyan;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screen-md) {
        .container {
            padding: 0 !important;
            max-width: none !important;
        }
    }

    @media (max-width: $screen-lg) {
        position: relative !important;
        width: auto !important;
    }

    @media (min-width: $screen-sm) {
        z-index: 10;
        position: relative;

        .e-inner {
            .e-connect {
                @include font-size(1.8, 2.4);
                padding: 27px 40px;

                .icon {
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    margin-top: 0;
                }
            }

            .e-subnav {
                @include font-size(1.8, 2.4);
                padding: 30.5px 40px;

                .e-navtrigger {
                    margin-right: 10px;
                    width: 25px;
                    height: 20px;

                    span {
                        height: 4px;
                        margin-left: -12px;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-md) {
        .e-inner {
            display: inline-block;
            float: right;

            .e-connect, .e-subnav {
                width: auto;
                float: right;
                width: 260px;
            }
        }
    }

    @media (min-width: $screen-lg) {
        width: 100% !important;

        &:before {
            @include transition(background 0.3s ease-in-out);
            content: '';
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: -5px;
            left: 0;
            background: transparent;
            display: block;
        }

        &.sticky {
            top: 0 !important;
            background: $c-white;

            &:before {
                background: #eeeeee;
                background: linear-gradient(unquote('#0000001f'), transparent);
            }
        }
    }
}
