@use "media";
@use "../elements/header";
@use "../elements/paragraph";
@use "../elements/anchor";
@use "../elements/button";
@use "../elements/list";
@use "../elements/blockquote";
@use "../elements/cite";

@mixin rteStyles {
  h2 {
    @include header.h2;
  }

  h3 {
    @include header.h3;
  }

  h4 {
    @include header.h4;
  }

  h5 {
    @include header.h5;
  }

  p {
    @include paragraph.paragraphRegular;

    &.large {
      @include paragraph.paragraphLarge;
    }

    &.small {
      @include paragraph.paragraphSmall;
    }

    &.ctaLink {
      a {
        @include anchor.ctaLink;
        margin-top: 16px;
      }
    }

    &:not(.ctaLink) {
      a {
        &:not(.button) {
          @include anchor.anchor(var(--colour-cyan));
        }
      }
    }

    .button {
      &.primary {
        @include button.buttonPrimary;
        margin-top: 16px;
      }
    }
  }

  ul {
    @include list.unorderedList;
  }

  ol {
    @include list.orderedList;
  }

  blockquote {
    @include blockquote.blockquote;
  }

  cite {
    @include cite.cite;
  }

  p,
  ul,
  ol,
  a {
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5 {
      margin-top: 35px;

      @include media.minWidth(tablet) {
        margin-top: 45px;
      }
    }
  }

  p {
    & + ul,
    & + ol {
      margin-top: 20px;
    }
  }

  .tag {
    font-size: 1.4rem;
    padding: 5.5px 16px;
    border-radius: 8px;
    color: var(--colour-navy);
    background-color: #edf8fd;
    margin-bottom: 16px;
    display: inline-block;
    font-weight: 700;

    @include media.minWidth(tablet) {
      font-size: calc(1.6rem * 0.9);
    }

    @include media.minWidth(desktop) {
      @include media.minHeight(null, 800px) {
        font-size: 1.6rem;
      }
    }
  }
}
