.cms-form {

    input[type=checkbox] {
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 15px 0;
        position: absolute;
        top: 0;
        left: 0;
        // position: relative;
        &:before,
        &:after {
            content: " ";
            display: block;
            position: absolute;
            z-index: 0;
        }

        &:before {
            @include transition(all 0.3s ease-in-out);
            width: 24px;
            height: 24px;
            background: $c-white;
            left: 0;
            top: 0;
            border: 1px solid $c-linegrey;
            box-sizing: border-box;
        }

        &:after {
            @include transition(all 0.3s ease-in-out);
            width: 11px;
            height: 18px;
            background-image: url("/images/tick.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            top: 3.5px;
            left: 6.5px;
            transform-origin: center;
            transform: scale(0);
        }

        &:checked {
            &:after {
                transform: scale(1);
            }

            &:active,
            &:focus,
            &:active:focus {
                &:before {
                    border: 1px solid $c-linegrey;
                }
            }
        }

        &:active,
        &:focus,
        &:active:focus {
            & + span {
                &:before {
                    border: 1px solid $c-linegrey;
                }
            }
        }
    }

    ul.checkbox-list {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            //background-color: red;
            position: relative;
            padding-left: 35px;

            &:first-child {
                margin-top: 0px;
            }

            &:before {
                content: none;
            }

            input[type=checkbox] {
                width: auto;
                position: absolute;
                left: 0px;
            }

            label {
                font-size: 1.4rem;
                line-height: 24px;
                color: #69757c;
                font-weight: normal;
                font-family: arial, sans-serif;
            }
        }
    }

    .validation-message {
        background-color: $c-magenta;
        color: $c-white;
        padding: 5px 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 18px;

        svg {
            font-size: 30px;
            margin: 0px 11px 0px 5px;
        }

        .message {
            flex-grow: 1;
            line-height: 20px;
        }

        p.message {
            margin-top: 0px;
            color: $c-white;
            font-size: 14px;
        }

        &.validation-message--green {
            background-color: $c-green;
        }
    }

    &.cms-form--rntmc {
        margin: 0px 1px;

        .validation-message {
            margin-top: 20px;
        }

        ul.checkbox-list {
            margin-top: 20px;
        }

        .btn {
            margin-top: 40px !important;
            display: block;

            .svg-inline--fa, .icon-buttonarrow {
                display: none;
            }

            &:hover {
                border-color: $c-lightcyan;
            }

            @media(min-width: $screen-xs) {
                display: inline-block;
            }
        }

        .btn.unsubmitted {

            .icon-buttonarrow {
                display: block;
            }
        }

        .btn.submitting {
            color: $c-white;
            background-color: rgb(122,206,215);
            border-color: $c-lightcyan;

            .icon {
                fill: $c-white;
            }

            .fa-cog {
                display: block;
            }

            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }

                50% {
                    background-position: 100% 50%;
                }

                100% {
                    background-position: 0% 50%;
                }
            }
        }

        .btn.submitted {
            background-color: $c-green;
            color: $c-white;
            border-color: $c-green;
            transition: none;

            .icon {
                fill: $c-white;
            }

            .fa-check {
                display: block;
            }
        }

        .btn.error {
            background-color: $c-magenta;
            color: $c-white;
            border-color: $c-magenta;
            transition: none;

            .icon {
                fill: $c-white;
            }

            .fa-exclamation-circle {
                display: block;
            }
        }

        .input-wrapper__validation--active {
            ul.checkbox-list {
                padding: 8px 8px;
                margin-top: 0px;
            }
        }
    }
}
