.m-filters {
  overflow: hidden;
  position: relative;
  background: $c-softgrey;
  width: 100%;

  &.background-grey {
    @media (min-width: $screen-sm) {
      .m-filtertop {
        background: #fafafa;

        .e-filter {
          select,
          input {
            background-color: #fafafa;
          }
        }
      }
    }
  }

  .filter-mob-toggle {
    @include font-size(1.8, 2.6);
    cursor: pointer;
    text-align: center;
    padding: 20px;
    font-weight: 600;
    border-bottom: 1px solid $c-linegrey;
    margin: 0;
    background: $c-navy;
    color: $c-white;

    &.active {
      &:after {
        @include transform(rotate(180deg));
      }
    }

    &:after {
      content: '';
      background-image: url('/images/svgs/menu_arrow_down-white.svg');
      background-repeat: no-repeat;
      width: 12px;
      height: 7px;
      display: inline-block;
      margin-left: 10px;
      @include transition(all 0.3s ease-in-out);
      transform-origin: 50% 40%;

      display: none;
    }
  }

  .e-filtercontainer {
    display: none;
  }

  .m-filtertop,
  .m-filterbottom {
    z-index: 10;
    overflow: hidden;
    position: relative;
  }

  .m-azFilter {
    display: none;
  }

  .m-filtertop {
    z-index: 12;
    padding: 30px 0;

    .e-filter {
      &.button {
        button {
          margin-top: 20px;
          background: $c-lightcyan;
          color: $c-white;
          border-color: $c-lightcyan;
          padding: 19px 25px;
        }
      }

      input,
      select,
      .btn {
        margin: 0;
        width: 100%;
        min-height: 55px;
        margin-bottom: 20px;
        box-sizing: border-box;
      }

      input,
      select {
        border-color: $c-linegrey;
        color: $c-textgrey;
        @include font-size(1.6, 2.4);

        &:focus {
          outline: none;
          border-color: $c-lightcyan;
        }
      }

      .btn {
        text-align: center;
        margin-bottom: 0;

        &:before {
          background: $c-black;
        }
      }

      &.search {
        position: relative;

        input {
          @include placeholder($c-textgrey);
          padding-right: 40px !important;
          margin-bottom: 0;
        }

        button {
          padding: 0;
          min-width: auto;
          border: none;
          position: absolute;
          top: 50%;
          margin-top: -9px;
          right: 15px;
          outline: none !important;
          background: none !important;
          border: none !important;

          .icon {
            fill: $c-lightcyan !important;
            margin-top: 0;
            width: 18px;
            height: 18px;
          }
        }
      }

      &.filter-by {
        div {
          p {
            @include font-size(1.6, 2.4);
            color: $c-navy;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .m-filterbottom {
    background: #fafafa;
    border-bottom: 1px solid #ebebeb;

    ul {
      margin: 0 -10px;
      padding: 0 0 30px;
    }

    li {
      margin: 10px;
      display: inline-block;
      vertical-align: middle;

      &:before {
        display: none;
      }

      .e-tag {
        color: $c-text;
        border: solid 1px $c-linegrey;
        padding: 10px 60px 10px 20px;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
        background: $c-white url('/images/svgs/filtercross.svg') no-repeat
          right 20px center;
        background-size: 10px;
        margin-top: 0;

        span {
          color: $c-lightcyan;
        }

        &:after {
          display: none;
        }
      }
    }

    .e-currentfilters {
      width: 100%;
      margin-bottom: 5px;

      span {
        color: $c-title;
        font-weight: 400;
        font-family: $f-title;
      }
    }
  }

  .e-clearfilters {
    margin-top: 0;
    font-weight: 600;
    padding-bottom: 30px;
  }

  @media (min-width: $screen-sm) {
    .filter-mob-toggle {
      display: none;
    }

    .e-filtercontainer {
      display: block !important;
    }

    .m-filtertop {
      line-height: 0;
      font-size: 0;
      padding: 0;
      background: $c-white;
      border-bottom: 1px solid #ebebeb;

      .e-filter {
        display: inline-block;
        vertical-align: top;

        input,
        select {
          margin: 0;
          border: none;
          height: 100px;
          border-right: 1px solid #ebebeb;
          padding: 0 35px;

          &:focus {
            border-color: #ebebeb;
          }
        }

        select {
          background-position: right 35px center;
        }

        &.filter-by {
          width: 20%;

          div {
            position: relative;
            height: 100px;
            border-right: 1px solid #ebebeb;

            p {
              margin: 0;
              @include centre(y);
            }
          }
        }
        &.select {
          width: 20%;
        }

        &.search {
          width: 20%;

          input {
          }
        }
      }
    }

    .m-filterbottom {
      .container {
        position: relative;
      }

      ul {
        margin: 0;
        padding: 30px 0;

        li {
          margin: 10px 25px 10px 0;
        }
      }
    }

    .e-clearfilters {
      position: absolute;
      top: 28px;
      right: 35px;
      margin-top: 12px;
      padding-bottom: 0;
    }

    .m-azFilter {
      display: block;
      padding: 0;

      .e-azlist {
        margin: 0;
        padding: 30px 0 25px;
        font-size: 0;
        display: table;
        width: 100%;
      }

      li {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        &:before {
          display: none;
        }

        &.active {
          a {
            border-color: $c-lightcyan;
          }

          &.disabled {
            a {
              border-color: transparent;
            }
          }
        }

        &.disabled {
          a {
            color: $c-softgreytext;
            cursor: default;
            pointer-events: none;
          }
        }

        a {
          color: $c-title;
          padding: 0 5px;
          font-weight: 600;
          text-transform: uppercase;
          border-bottom: 5px solid transparent;
          margin: 0;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .m-sortby {
    @include clearfix();
    padding: 30px 0;

    .e-view,
    .e-sort {
      p {
        @include font-size(1.6, 2.4);
        font-weight: 600;
        color: $c-navy;
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px 0 0;
      }
    }

    .e-view {
      display: none;

      .e-viewoptions {
        display: inline-block;
        font-size: 0;
        position: relative;
        top: -4px;

        .grid,
        .map {
          width: 50px;
          height: 50px;
          background: $c-white;
          border: 1px solid $c-linegrey;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;

          &.active, &:hover {
            .icon {
              fill: $c-lightcyan;
            }
          }

          .icon {
            width: 18px;
            height: 18px;
            @include centre(both);
            fill: #e2e2e2;
            @include transition(all 0.3s ease-in-out);
          }
        }

        .grid {
          border-right: none;
        }
      }
    }

    .e-sort {
      margin-top: 20px;
      // float: right;

      select {
        border: 1px solid $c-linegrey;
        color: $c-navy;
        height: 50px;
        width: calc(100% - 82px);
      }
    }
  }

  @media (min-width: 500px) {
    .m-sortby {
      .e-sort {
        float: right;
        width: auto;
      }
    }
  }

  @media (min-width: $screen-sm) {
    .m-sortby {
      .e-view {
        float: left;
      }

      .e-sort {
        margin: 0;
      }
    }

    .m-filtertop {
      .e-filter {
        &.button {
          display: none;
        }
      }
    }

    .m-filterbottom {
      border-bottom: none;

      ul {
        border-bottom: 1px solid #ebebeb;
      }
    }
  }

  @media (min-width: $screen-md) {
    .m-filtertop {
      .e-filter {
        &.search {
          &:hover {
            button {
              .icon {
                fill: $c-navy !important;
              }
            }
          }

          input {
            padding-right: 70px !important;
          }

          button {
            right: 33px;
          }
        }

        input,
        select,
        .btn {
          margin-bottom: 0;
        }

        .btn {
          &:hover {
            color: $c-white;
          }
        }
      }
    }

    .m-filterbottom {
      .e-currentfilters {
        @include centre(y);
        width: auto;
        left: 0;
        margin: 0;
      }

      ul {
        padding: 30px 80px 30px 130px;
      }

      li {
        .e-tag {
          &:hover {
            border-color: $c-lightcyan;
          }
        }
      }
    }

    .e-clearfilters {
      @include centre(y);
      right: 35px;
      margin-top: 0;
    }

    .m-azFilter {
      .e-azlist {
        padding: 40px 0 35px;
      }

      li {
        a {
          @include font-size(1.7, 2.5);
          @include transition(all 0.2 ease-in-out);
          padding: 0 8px;
          background: none;

          &:hover {
            color: $c-lightcyan;
          }
        }
      }
    }

    .m-sortby {
      .e-view {
        display: inline-block;
      }
    }
  }

  @media (min-width: $screen-lg) {
    .m-filtertop {
      .e-filter {
        &.search {
          input {
            padding-left: 60px !important;
          }
        }
      }
    }

    .m-azFilter {
      li {
        a {
          @include font-size(2, 3);
        }
      }
    }
  }

}
