.popup {
  position: relative;

  &:hover {
    &:before {
      background: $c-lightcyan;
    }
  }

  &:after,
  &:before {
    content: '';
    @include centre(both);
  }

  &:after {
    background-image: url('/images/svgs/iconplay.svg');
    width: 16px;
    height: 19px;
    margin-left: 2px;
    background-repeat: no-repeat;
  }

  &:before {
    @include border-radius(100px);
    @include transition(background 0.3s ease-in-out);
    width: 60px;
    height: 60px;
    border: 2px solid $c-lightcyan;
    background: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $screen-md) {
    &:after {
      width: 26px;
      height: 32px;
      margin-left: 4px;
    }

    &:before {
      width: 100px;
      height: 100px;
    }
  }
}
